<section>
  <div class="breadcrumb__section forum-admin__breadcumb">
    <a class="breadcrumb__link">Panel de administrador</a>
    <a routerLink="/admin/foros" class="breadcrumb__link">Foros</a>
  </div>
  <div class="row">
    <div class="col-1-of-2">
      <h1 class="heading">Foros</h1>
    </div>
    <div class="col-1-of-2 u-right-text">
      <a routerLink="crear" class="btn btn--primary"><i class="btn__icon--left fas fa-plus"></i>Crear foro</a>
    </div>
  </div>
  <div class="u-margin-bottom-small" *ngFor="let node of tree">
    <h2 class="forum-admin__category">
      {{node.category.name}}
    </h2>
    <div class="table--black">
      <div class="table__header">
        <div class="table__cell">
          <p>Órden</p>
        </div>
        <div class="table__cell">
          <p>Nombre</p>
        </div>
        <div class="table__cell">
          <p>Foro Padre</p>
        </div>
        <div class="table__cell">
          <p>Acciones</p>
        </div>
      </div>
      <div class="table__row" *ngFor="let forum of node.tree">
        <div class="table__cell">
          <p>{{forum.order}}</p>
        </div>
        <div class="table__cell">
          <p>{{forum.name}}</p>
        </div>
        <div class="table__cell">
          <p>{{forum.parent ? forum.parent.name : ''}}</p>
        </div>
        <div class="table__cell">
          <a routerLink="{{'editar/' + forum._id }}" class="btn btn--transparent"><i class="btn__icon--left fas fa-pencil-alt"></i></a>
          <a (click)="deleteForum" class="btn btn--transparent"><i class="btn__icon--left fas fa-times"></i></a>
        </div>
      </div>
    </div>
    <div *ngIf="node.tree.length <= 0" class="u-center-text category__no-record">
      No hay categorías creadas
    </div>
  </div>
  <div *ngIf="tree.length <= 0" class="u-center-text category__no-record">
    No hay categorías creadas
  </div>
</section>
