<section>
  <div class="row u-margin-bottom-medium">
    <div class="col-1-of-2">
      <h1 class="heading">Apelar una sanción</h1>
    </div>
    <div class="col-1-of-2 u-right-text">
      <a href="#" class="btn btn--primary btn--uppercase btn--strong profile__button"><fa-icon [icon]="faList"></fa-icon> Tus apelaciones</a>
    </div>
  </div>
  <div class="row">
    <div class="col-1-of-3">
      <h3 class="heading heading--primary u-margin-bottom-small">¿Que puede ser apelado?</h3>
      <p class="paragraph--white">Any infraction which you believe was issued incorrectly or which is too severe can be contested.</p>
      <p class="paragraph--white">Appeals exist in order to catch mistakes, not to argue about the rules.</p>
    </div>
    <div class="col-1-of-3">
      <h3 class="heading heading--primary u-margin-bottom-small">¿Como se resuelven las apelaciones?</h3>
      <p class="paragraph--white">The moderator who punished you will review the incident, and appeal the infraction if they find it was in error or reduce it in severity if they feel it was too harsh.</p>
      <p class="paragraph--white">If you disagree with the moderator’s decision, you can escalate an appeal to have it reviewed by a senior staff member, but this will delay the response time.</p>
    </div>
    <div class="col-1-of-3">
      <h3 class="heading heading--primary u-margin-bottom-small">Conducta en apelaciones</h3>
      <p class="paragraph--white">If your infraction was issued incorrectly, you should appeal it in a timely manner. Moderators are only required to obtain evidence for cheating bans, and this must only be retained for 28 days.</p>
      <p class="paragraph--white">If you lie in your appeal or are abusive towards our staff, your appeal will be denied and you may receive further punishment.</p>
    </div>
  </div>
  <div class="u-center-text u-margin-top-medium">
    <div class="btn btn--primary">Adelante, ¡Vamos! &#187;</div>
  </div>
</section>
