<section>
  <div class="u-margin-bottom-small">
    <h1 class="heading match__main-title">Partida en <span>mapita pro 777</span></h1>
    <h4 class="heading heading--secondary match__main-title">INGAME</h4>
  </div>
  <div class="row u-margin-bottom-small">
    <div class="col-1-of-3">
      <div class="map__info-slug u-center-text">
        <img src="../../../../assets/images/map_placeholder.png" class="map__image">
      </div>
    </div>
    <div class="col-1-of-3">

    </div>
    <div class="col-1-of-3">

    </div>
  </div>
</section>
