<section>
  <div class="u-margin-bottom-small">
    <h1 class="heading match__main-title">Partida en <span>mapita pro 777</span></h1>
    <h4 class="heading heading--secondary match__main-title">INGAME</h4>
  </div>
  <div class="row u-margin-bottom-small">
    <div class="col-1-of-3">
      <div class="map__info-slug u-center-text">
        <img src="../../../../assets/images/map_placeholder.png" class="map__image">
      </div>
    </div>
    <div class="col-2-of-3">
      <div class="match__basics">
        <p class="match__info u-margin-bottom-small">
          <b>Mapa: </b> Testmap
        </p>
        <p class="match__info u-margin-bottom-small">
          <b>Juego: </b> SkyAss
        </p>
        <p class="match__info u-margin-bottom-small">
          <b>Fecha: </b> 24/04/2MILPOPPER
        </p>
      </div>
    </div>
  </div>
  <div class="match__team">
    <h3 class="match__team-title match__team-title--winner">Ganador</h3>
    <div class="match__team-members">
      <a class="match__team-member">TakeMyTomato</a>
    </div>
  </div>
  <div class="match__team">
    <h3 class="match__team-title">Rojo</h3>
    <div class="match__team-members">
      <a class="match__team-member">TakeMyTomato</a>
    </div>
  </div>
</section>
