<footer class="footer">
  <div class="footer__links">
    <div class="row">
      <div class="col-1-of-4 u-center-text">
        <h2 class="heading secondary-heading--primary">Políticas</h2>
        <ul class="footer__link-list">
          <li><a routerLink="/reglas">Reglas de usuario</a></li>
          <li><a routerLink="/terminos">Términos y Condiciones</a></li>
          <li><a routerLink="/privacidad">Política de privacidad</a></li>
          <li><a routerLink="/reembolsos">Política de reembolso</a></li>
        </ul>
      </div>
      <div class="col-1-of-4 u-center-text">
        <h2 class="heading secondary-heading--primary">Moderación</h2>
        <ul class="footer__link-list">
          <li><a routerLink="/reportar">Reportar un jugador</a></li>
          <li><a routerLink="/apelar">Apelar una sanción</a></li>
          <li><a routerLink="/sanciones">Sanciones recientes</a></li>
        </ul>
      </div>
      <div class="col-1-of-4 u-center-text">
        <h2 class="heading secondary-heading--primary">Extras</h2>
        <ul class="footer__link-list">
          <li><a href="mailto:contacto@seocraft.net">Contáctanos</a></li>
          <li><a routerLink="/desarrollo">Registro de desarrollo</a></li>
          <li><a href="https://github.com/SeocraftNetwork/BugTracker" target="_blank">Reportar un bug</a></li>
        </ul>
      </div>
      <div class="col-1-of-4 u-center-text">
        <h2 class="heading secondary-heading--primary">Redes sociales</h2>
        <ul class="footer__link-list">
          <li><a href="https://www.facebook.com/SeocraftNetwork" target="_blank"><fa-icon [icon]="faFacebookF"></fa-icon> Facebook</a></li>
          <li><a href="https://twitter.com/SeocraftNetwork" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon> Twitter</a></li>
          <li><a href="https://github.com/SeocraftNetwork" target="_blank"><fa-icon [icon]="faGithub"></fa-icon> GitHub</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <p class="footer__copyright-text">© {{ date | date: "yyyy" }} Seocraft Network. Todos los derechos reservados.</p>
  </div>
</footer>
