<section>
  <div class="punishment">
    <div class="row">
      <div class="col-1-of-2 u-margin-bottom-small">
        <h1 class="heading">
          <span style="color: red" *ngIf="punishment_details.type === 'temp-ban'">Temp-ban</span>
          <span style="color: red" *ngIf="punishment_details.type === 'ban'">Perma-ban</span>
          <span style="color: darkorange" *ngIf="punishment_details.type === 'kick'">Expulsión</span>
          <span style="color: green" *ngIf="punishment_details.type === 'warn'">Advertencia</span>
          realizada por
          <span [style.color]="punisher_placeholder.user_color">{{punisher_placeholder.username}}</span>
        </h1>
      </div>
      <div class="col-1-of-2 u-right-text">
        <a href="#" class="btn btn--green btn--uppercase btn--strong profile__button"><fa-icon [icon]="faUserEdit"></fa-icon> Editar</a>
        <a href="#" class="btn btn--blue btn--uppercase btn--strong profile__button"><fa-icon [icon]="faBackward"></fa-icon> Volver</a>
        <a href="#" class="btn btn--primary btn--uppercase btn--strong profile__button"><fa-icon [icon]="faList"></fa-icon> Lista</a>
      </div>
    </div>
    <div class="row">
      <div class="col-1-of-2">
        <div class="punishment__item">
          <span class="punishment__label">Razón:</span>
          <p>{{punishment_details.reason}}</p>
        </div>
        <div class="punishment__item">
          <span class="punishment__label">Fecha:</span>
          <p></p>
        </div>
      </div>
      <div class="col-1-of-2">
        <div class="punishment__item">
          <span class="punishment__label">Estado:</span>
          <p>Activo y pasivo</p>
        </div>
        <div class="punishment__item">
          <span class="punishment__label">Servidor:</span>
          <p>En la web c:</p>
        </div>
      </div>
    </div>
  </div>
</section>
