<section>
  <div class="row">
    <div class="col-3-of-4">
      <div class="forum__tree">
        <div class="breadcrumb">
          <div class="breadcrumb__section">
            <a class="breadcrumb__link" routerLink="/foro">Foro</a>
            <a *ngIf="data.forum.parent" class="breadcrumb__link" routerLink="{{'/foro/' + data.forum.parent._id}}">{{data.forum.parent.name}}</a>
            <a class="breadcrumb__link" routerLink="{{'/foro/' + data.forum._id}}">{{data.forum.name}}</a>
          </div>
        </div>
        <div class="forum__title">
          <h1 class="heading"><a routerLink="{{'/foro/' + data.forum._id}}">{{data.forum.name}}</a></h1>
          <p *ngIf="data.forum.description" class="paragraph">{{data.forum.name}}</p>
        </div>
        <div class="forum__subforums">
          <div *ngFor="let child of data.child" class="subforum">
            <div class="subforum__title">
              <i class="subforum__title-image fas fa-ellipsis-v"></i>
              <a class="subforum__title-link" routerLink="{{'/foro/' + child.forum._id}}">{{child.forum.name}}</a>
            </div>
            <div class="subforum__indicator">
              <span *ngIf="child.unread !== 0" class="forum__new" tooltip content="{{'Tienes ' + child.unread + ' temas por ver en este foro'}}" placement="top">{{child.unread}}</span>
              <span class="subforum__number">{{child.messages}}</span>
            </div>
            <div class="subforum__indicator">
            </div>
            <div *ngIf="child.lastTopic" class="subforum__last">
              <a routerLink="{{'/foro/tema/' + child.lastTopic._id}}" class="subforum__top">
                {{child.lastTopic.subject}}
              </a>
              <div class="subforum__bottom">
                <img src="{{'https://mc-heads.net/avatar/' + child.lastTopic.author.skin}}" alt="Category image" class="subforum__avatar">
                <a [style.color]="getPlaceholder(child.lastTopic.author).mainGroup.html_color" routerLink="{{'/' + child.lastTopic.author.username}}" class="subforum__username">{{child.lastTopic.author.display}}</a>
                <span tooltip content="Creado en {{child.lastTopic.createdAt | unixDate | valueOf | amLocale: 'es' | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}" placement="top" class="subforum__date">{{child.lastTopic.createdAt | unixDate | valueOf | amLocale: 'es' | amTimeAgo}}</span>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="data.user" class="u-margin-bottom-small u-margin-top-small u-right-text">
          <a (click)="readAll()" class="btn btn--secondary shop__description-slug-button shop__cart-button"><i class="fas fa-list-ul"></i> Leer todo</a>
          <a *ngIf="data.permissions.create" (click)="newTopic()" class="btn btn--primary shop__description-slug-button shop__cart-button"><i class="fas fa-plus"></i> Crear tema</a>
        </div>
        <div class="forum__topics">
          <div class="forum__topics-header">
            <div class="forum__topics-header-title">
              Título
            </div>
            <div class="forum__topics-header-indicator">
              Mensajes
            </div>
            <div class="forum__topics-header-indicator">
              Visitas
            </div>
            <div class="forum__topics-header-last">
              Último mensaje
            </div>
          </div>
          <div *ngIf="data.pinned.length < 1 && data.topic.length < 1 && data.pagination.page === 1" class="u-margin-top-small u-center-text paragraph--white">No hay temas para mostrar en este foro.</div>
          <div *ngFor="let pinned of data.pinned" class="forum__node">
            <div class="forum__node-title">
              <div class="forum__node-topic">
                <a routerLink="{{'/foro/tema/' + pinned.topic._id}}" class="forum__node-title-link">{{pinned.topic.subject}}</a>
                <a routerLink="{{'/' + pinned.topic.author.display}}" class="forum__node-author" [style.color]="getPlaceholder(pinned.topic.author).mainGroup.html_color">
                  <img src="{{'https://mc-heads.net/avatar/' + pinned.topic.author.skin}}" alt="Test" class="forum__node-user-avatar">
                  <span class="forum__node-username">{{pinned.topic.author.display}}</span>
                </a>
                <span tooltip content="Creado en {{pinned.topic.createdAt | unixDate | valueOf | amLocale: 'es' | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}" placement="top" class="forum__node-date">{{pinned.topic.createdAt | unixDate | amLocale: 'es' | amTimeAgo}}</span>
              </div>
              <div class="forum__node-icons">
                <i *ngIf="pinned.topic.pinned" class="forum__node-icon fas fa-thumbtack" tooltip content="Anclado" placement="top"></i>
                <i *ngIf="pinned.topic.locked" class="forum__node-icon fas fa-lock" tooltip content="Bloqueado" placement="top"></i>
                <i *ngIf="pinned.topic.official" class="forum__node-icon fas fa-bookmark" tooltip content="Respuesta Oficial" placement="top"></i>
              </div>
            </div>
            <div class="forum__node-indicator">
              <span *ngIf="pinned.unread !== 0" class="forum__new" tooltip content="{{'Tienes ' + pinned.unread + ' mensajes por leer en este tema'}}" placement="top">{{pinned.unread}}</span>
              <span class="forum__node-number">{{pinned.messages}}</span>
            </div>
            <div class="forum__node-indicator">
              <span class="forum__node-number">{{pinned.unread}}</span>
            </div>
            <div class="forum__node-last">
              <a routerLink="{{'/' + pinned.lastPost.author._id}}" class="forum__node-top">
                <img src="{{'https://mc-heads.net/avatar/' + pinned.lastPost.author.skin}}" alt="Category image" class="forum__node-avatar">
                <span class="forum__node-username" [style.color]="getPlaceholder(pinned.lastPost.author).mainGroup.html_color">{{pinned.lastPost.author.display}}</span>
              </a>
              <div class="forum__node-bottom">
                <span tooltip content="Creado en {{pinned.lastPost.createdAt | unixDate | valueOf | amLocale: 'es' | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}" placement="top" class="forum__node-date">{{pinned.lastPost.createdAt | unixDate | valueOf | amLocale: 'es' | amTimeAgo}}</span>
              </div>
            </div>
          </div>
          <div *ngFor="let topic of data.topic" class="forum__node">
            <div class="forum__node-title">
              <div class="forum__node-topic">
                <a routerLink="{{'/foro/tema/' + topic.topic._id}}" class="forum__node-title-link">{{topic.topic.subject}}</a>
                <a routerLink="{{'/' + topic.topic.author.username}}" class="forum__node-author" [style.color]="getPlaceholder(topic.topic.author).mainGroup.html_color">
                  <img src="{{'https://mc-heads.net/avatar/' + topic.topic.author.skin}}" alt="Test" class="forum__node-user-avatar">
                  <span class="forum__node-username">{{topic.topic.author.display}}</span>
                </a>
                <span tooltip content="Creado en {{topic.topic.createdAt | unixDate | valueOf | amLocale: 'es' | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}" placement="top" class="forum__node-date">{{topic.topic.createdAt | unixDate | valueOf | amLocale: 'es' | amTimeAgo}}</span>
              </div>
              <div class="forum__node-icons">
                <i *ngIf="topic.topic.pinned" class="forum__node-icon fas fa-thumbtack" tooltip content="Anclado" placement="top"></i>
                <i *ngIf="topic.topic.locked" class="forum__node-icon fas fa-lock" tooltip content="Bloqueado" placement="top"></i>
                <i *ngIf="topic.topic.official" class="forum__node-icon fas fa-bookmark" tooltip content="Respuesta Oficial" placement="top"></i>
              </div>
            </div>
            <div class="forum__node-indicator">
              <span *ngIf="topic.unread !== 0" class="forum__new" tooltip content="{{'Tienes ' + topic.unread + ' mensajes por leer en este tema'}}" placement="top">{{topic.unread}}</span>
              <span class="forum__node-number">{{topic.messages}}</span>
            </div>
            <div class="forum__node-indicator">
              <span class="forum__node-number">{{topic.views}}</span>
            </div>
            <div class="forum__node-last">
              <a routerLink="{{'/' + topic.lastPost.author.username}}" class="forum__node-top">
                <img src="{{'https://mc-heads.net/avatar/' + topic.lastPost.author.skin}}" alt="Category image" class="forum__node-avatar">
                <span class="forum__node-username" [style.color]="getPlaceholder(topic.lastPost.author).mainGroup.html_color">{{topic.lastPost.author.display}}</span>
              </a>
              <div class="forum__node-bottom">
                <span tooltip content="Creado en {{topic.lastPost.createdAt | unixDate | valueOf | amLocale: 'es' | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}" placement="top" class="forum__node-date">{{topic.lastPost.createdAt | unixDate | valueOf | amLocale: 'es' | amTimeAgo}}</span>
              </div>
            </div>
          </div>
        </div>
        <pagination *ngIf="data.pagination.page && data.pagination.page !== 1" [centered]="true" [actual_page]="data.pagination.page" [last_page]="data.pagination.totalPages" [route]="'/forum/'"></pagination>
      </div>
    </div>
    <div class="col-1-of-4">
      <forum-feed></forum-feed>
    </div>
  </div>
</section>
