<div class="pagination" [class.pagination--centered]="centered">
  <a (click)="navigate(actual_page-1)" class="pagination__arrow" *ngIf="actual_page != 1">
    <i class="fas fa-angle-double-left"></i>
  </a>
  <nav *ngIf="paginator_type == 'less_five'">
    <a class="pagination__link" *ngFor="let page of pages" [class.pagination__link--active]="actual_page == page" (click)="navigate(page)">{{page}}</a>
  </nav>
  <nav *ngIf="paginator_type == 'first_five'">
    <a class="pagination__link" *ngFor="let page of pages" [class.pagination__link--active]="actual_page == page" (click)="navigate(page)">{{page}}</a>
    <span class="pagination__point">...</span>
    <a class="pagination__link" (click)="navigate(last_page)">{{last_page}}</a>
  </nav>
  <nav *ngIf="paginator_type == 'middle_paginator'">
    <a class="pagination__link" (click)="navigate(first_page)">{{first_page}}</a>
    <span class="pagination__point">...</span>
    <a class="pagination__link" *ngFor="let page of pages" [class.pagination__link--active]="actual_page == page" (click)="navigate(page)">{{page}}</a>
    <span class="pagination__point">...</span>
    <a class="pagination__link" (click)="navigate(last_page)">{{last_page}}</a>
  </nav>
  <nav *ngIf="paginator_type == 'last_five'">
    <a class="pagination__link" (click)="navigate(first_page)">{{first_page}}</a>
    <span class="pagination__point">...</span>
    <a class="pagination__link" *ngFor="let page of pages" [class.pagination__link--active]="actual_page == page" (click)="navigate(page)">{{page}}</a>
  </nav>
  <a (click)="navigate(actual_page+1)" class="pagination__arrow" *ngIf="actual_page != last_page && actual_page != 1">
    <i class="fas fa-angle-double-right"></i>
  </a>
</div>
