<section>
  <nav class="shop__header">
    <ul>
      <li>
        <a class="shop__header-link" href="#"><i class="fas fa-home"></i> Inicio</a>
      </li>
      <li>
        <a class="shop__header-link" href="#"><i class="fas fa-star"></i> Rangos</a>
      </li>
      <li>
        <a class="shop__header-link" href="#"><i class="fas fa-dog"></i> Mascotas</a>
      </li>
      <li>
        <a class="shop__header-link" href="#"><i class="fas fa-key"></i> Llaves</a>
      </li>
    </ul>
    <a class="shop__header-cart-icon" href="#">
      <i class="fas fa-shopping-cart"></i>
      <span class="shop__header-cart-indicator">1</span>
    </a>
  </nav>
  <div class="shop__jumbotron">
    <div class="slider">
      <div class="slider__wrapper" data-glide-el="track">
        <ul class="slider__slides">
          <li class="slider__slide slider__slide--1"></li>
          <li class="slider__slide slider__slide--2"></li>
          <li class="slider__slide slider__slide--3"></li>
        </ul>
      </div>
      <div class="slider__controls" data-glide-el="controls">
        <button class="slider__button slider__button--left" data-glide-dir="<"><i class="fas fa-angle-left"></i></button>
        <button class="slider__button slider__button--right" data-glide-dir=">"><i class="fas fa-angle-right"></i></button>
      </div>
    </div>
  </div>
  <div class="row shop__home-images">
    <div class="col-1-of-3">
      <img src="https://minotar.net/avatar/2f3665cc5e29439bbd14cb6d3a6313a7" alt="Juanito alimaña" class="shop__home-image">
    </div>
    <div class="col-2-of-3">
      <h2 class="heading">Destaca mientras juegas</h2>
    </div>
  </div>
  <div class="row shop__home-images">
    <div class="col-2-of-3">
      <h2 class="heading">Obtén beneficios exclusivos</h2>
    </div>
    <div class="col-1-of-3">
      <img src="https://minotar.net/avatar/2f3665cc5e29439bbd14cb6d3a6313a7" alt="Juanito alimaña" class="shop__home-image">
    </div>
  </div>
  <div class="shop__home-footer">
    <h1 class="heading">¡Compra sin barreras!</h1>
    <p>
      ¿No tienes tarjeta de crédito? No te preocupes, con PaymentWall puedes pagar directamente con tu cuenta bancaria local o a través de las empresas de recaudo más conocidas de tu país.
      <a target="_blank" href="https://www.paymentwall.com/en/payment-methods">¡Conoce más!</a>
    </p>
    <!--
    <fa-icon class="shop__home-cards" [icon]="faCcVisa"></fa-icon>
    <fa-icon class="shop__home-cards" [icon]="faCcMastercard"></fa-icon>
    <fa-icon class="shop__home-cards" [icon]="faCcDiscover"></fa-icon>
    <fa-icon class="shop__home-cards" [icon]="faCcAmex"></fa-icon>
    <fa-icon class="shop__home-cards" [icon]="faCcJcb"></fa-icon>
    <fa-icon class="shop__home-cards" [icon]="faCcPaypal"></fa-icon>
    <fa-icon class="shop__home-cards" [icon]="faCcAmazonPay"></fa-icon>
    <fa-icon class="shop__home-cards" [icon]="faCcApplePay"></fa-icon>
    -->
  </div>
</section>
