.classifier {

  width: 100%;
  position: relative;

  &__label {

    @include titleFont;

    width: calc(100% - 1.4rem);
    font-size: 1.4rem;
    display: block;
    padding: .7rem;
    background-color: $color-tertiary;
    cursor: pointer;
    transition: all .3s;

    &:after {
      content: '\25BC';
      display: block;
      float: right;
      font-size: 1rem;
      margin-top: .3rem;
      cursor: pointer;
      transition: transform .2s;
    }

    &:hover {
      background-color: $color-secondary;
    }

    &--active {
      background-color: $color-primary;

      &:after {
        transform: rotate(-180deg);
      }

      &:hover {
        background-color: $color-primary;
      }
    }
  }

  &__content {
    position: absolute;
    top: 3.7rem;
    left: 0;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: all .5s;
    padding-bottom: 0;
    z-index: 28;

    @include respond(tab-land) {

      @include absCenterLineal;

      top: 6rem;
    }

    &--active {
      max-height: 50rem;
      padding-bottom: 1rem;

      @include respond(tab-land) {

        @include absCenterLineal;

        top: 6rem;
      }
    }
  }

  &__option {

    @include titleFont;

    display: block;
    cursor: pointer;
    font-size: 1.4rem;
    text-decoration: none;
    width: calc(100% - 1.4rem);
    padding: .7rem;
    background-color: $color-tertiary;
    transition: all .3s;

    &:hover {
      background-color: $color-secondary;
    }

    &--active {
      background-color: $color-primary;

      &:hover {
        background-color: $color-primary;
      }
    }

  }
}
