.collapsible {

  &__button {

    @include titleFont;

    background-color: $color-tertiary;
    font-size: 1.4rem;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
    text-align: left;
    transition: all .3s;

    &:after {
      content: '\25BC';
      float: right;
      transition: all .3s;
    }

    &:hover {
      background-color: darken($color-tertiary, 2%);
    }

    &--active {
      background-color: $color-primary;

      &:hover {
        background-color: $color-primary;
      }

      &:after {
        transform: rotate(-180deg);
      }
    }
  }

  &__panel {
    box-sizing: border-box;
    margin: 1rem;
    overflow: hidden;
    max-height: 0;
    transition: all .3s;
  }

}
