.dropdown {

  position: relative;

  &__label {
    text-decoration: none;
    color: $color-white;
    transition: all .2s;
    cursor: pointer;
    user-select: none;

    &:after {
      content: '\25BC';
      display: block;
      float: right;
      font-size: 1rem;
      margin-top: .2rem;
      cursor: pointer;
      margin-left: .8rem;
      transition: transform .2s;
    }

    &:hover {
      color: $color-secondary;
    }

    &--active {
      color: $color-secondary;

      &:after {
        transform: rotate(-180deg);
      }
    }
  }

  &__content {
    position: absolute;
    top: 4rem;
    left: 0;
    max-height: 0;
    background-color: $color-tertiary-dark;
    overflow: hidden;
    width: 24rem;
    transition: max-height .5s;
    border-bottom: 3px transparent;

    @include respond(tab-land) {

      @include absCenterLineal;

      top: 6rem;
    }

      &--active {
        max-height: 50rem;
        border-bottom: 3px solid $color-primary;

        @include respond(tab-land) {

          @include absCenterLineal;

          top: 6rem;
        }
      }
  }

  &__link {
    display: block;
    padding: 1rem 2rem;
  }
}
