.footer {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__links {
    background-color: $color-tertiary-dark;
    padding: 2.5rem 0;
  }

  &__copyright {
    background-color: $color-light-black;
    padding: 1.5rem 10.4rem;
  }

  &__copyright-text {
    font-size: 1.4rem;
    color: $color-grey-dark;
  }

  &__link-list {
    list-style: none;

    li:not(:first-of-type) {
      padding-top: .5rem;
    }

    a {
      text-decoration: none;
      color: $color-white;
      font-size: 1.4rem;
    }
  }
}
