<section>
  <h1 class="heading heading--primary u-margin-bottom-small">Staff</h1>
  <div class="staff">
    <div class="staff__title">
      <h2 class="staff__name">Prosexo</h2>
      <span class="staff__indicator">10</span>
    </div>
    <div class="row">
      <div class="col-1-of-4 staff__item">
        <a href="#" class="staff__image"><img src="https://minotar.net/avatar/poppera" alt=""></a>
        <a href="#" class="staff__username">MomlessCuliada</a>
        <p class="staff__comment">Professional</p>
        <ul class="staff__icons">
          <li>X</li>
          <li>Y</li>
          <li>Z</li>
        </ul>
      </div>
      <div class="col-1-of-4 staff__item">
        <a href="#" class="staff__image"><img src="https://minotar.net/avatar/poppera" alt=""></a>
        <a href="#" class="staff__username">MomlessCuliada</a>
        <p class="staff__comment">Professional</p>
        <ul class="staff__icons">
          <li>X</li>
          <li>Y</li>
          <li>Z</li>
        </ul>
      </div>
      <div class="col-1-of-4 staff__item">
        <a href="#" class="staff__image"><img src="https://minotar.net/avatar/poppera" alt=""></a>
        <a href="#" class="staff__username">MomlessCuliada</a>
        <p class="staff__comment">Professional</p>
        <ul class="staff__icons">
          <li>X</li>
          <li>Y</li>
          <li>Z</li>
        </ul>
      </div>
      <div class="col-1-of-4 staff__item">
        <a href="#" class="staff__image"><img src="https://minotar.net/avatar/poppera" alt=""></a>
        <a href="#" class="staff__username">MomlessCuliada</a>
        <p class="staff__comment">Professional</p>
        <ul class="staff__icons">
          <li>X</li>
          <li>Y</li>
          <li>Z</li>
        </ul>
      </div>
      <div class="col-1-of-4 staff__item">
        <a href="#" class="staff__image"><img src="https://minotar.net/avatar/poppera" alt=""></a>
        <a href="#" class="staff__username">MomlessCuliada</a>
        <p class="staff__comment">Professional</p>
        <ul class="staff__icons">
          <li>X</li>
          <li>Y</li>
          <li>Z</li>
        </ul>
      </div>
    </div>
  </div>
</section>
