<section>
  <div class="row">
    <div class="col-3-of-4">
      <div class="forum__tree">
        <section *ngIf="categories.length > 0"  class="forum__section">
          <div *ngFor="let category of categories" class="category">
            <div *ngIf="category">
              <div class="category__header">
                <div class="category__header-title">
                  {{category.name}}
                </div>
                <div class="category__header-indicator">
                  Temas
                </div>
                <div class="category__header-indicator">
                  Mensajes
                </div>
              </div>
              <div *ngFor="let forum of category.forums" class="category__node">
                <div class="category__node-title">
                  <fa-icon class="category__node-image" [icon]="faEllipsisV"></fa-icon>
                  <a routerLink="{{'/foro/' + forum.id}}" class="category__node-title-link">{{forum.name}}</a>
                </div>
                <div class="category__node-indicator">
                  <span *ngIf="forum.unread !== 0" class="forum__new" tooltip content="{{'Tienes ' + forum.unread + ' temas por ver en este foro'}}" placement="top">{{forum.unread}}</span>
                  <span class="category__node-number">{{forum.topics}}</span>
                </div>
                <div class="category__node-indicator">
                  <span class="category__node-number">{{forum.messages}}</span>
                </div>
                <div class="category__node-last">
                  <a *ngIf="forum.last_topic" routerLink="{{'/foro/tema/' + forum.last_topic.id}}" class="category__node-top">
                    {{forum.last_topic.subject}}
                  </a>
                  <a *ngIf="!forum.last_topic" routerLink="{{'/foro/' + forum.id}}" class="category__node-top">
                    No hay temas aún :(
                  </a>
                  <div *ngIf="forum.last_topic" class="category__node-bottom">
                    <img src="{{'https://mc-heads.net/avatar/' + forum.last_topic.writer.skin}}" alt="Category image" class="category__node-avatar">
                    <a routerLink="{{'/' + forum.last_topic.writer.username}}" class="category__node-username" [style.color]="forum.last_topic.writer.user_color">{{forum.last_topic.writer.username}}</a>
                    <span tooltip content="Creado en {{forum.last_topic.created_at | valueOf | amLocale: 'es' | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}" placement="top" class="category__node-date">{{forum.last_topic.created_at | valueOf | amLocale: 'es' | amTimeAgo}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <p *ngIf="categories.length === 0" class="u-center-text paragraph--white">No hay foros en este momento... Deberás esperar a que la administración los cree :)</p>
      </div>
    </div>
    <div class="col-1-of-4">
      <forum-feed></forum-feed>
    </div>
  </div>
</section>
