<section>
  <div>
    <h1 class="heading map__main-title">Mapas</h1>
    <h4 class="heading heading--primary map__main-title">Una gran colección de mapas y variedades únicas</h4>
  </div>
  <div class="map__navigator">
    <span class="map__navigator-slug">
      Seleccionar mapas:
    </span>
    <div class="dropdown map__navigator-dropdown map__navigator-dropdown--1">
        <span class="dropdown__label dropdown map__navigator-dropdown-label">
          Modos de juego
        </span>
      <div class="dropdown__content">
        <a href="#" class="dropdown__link map__navigator-dropdown-link">InsaneWars</a>
        <a href="#" class="dropdown__link map__navigator-dropdown-link">TNT Games</a>
        <a href="#" class="dropdown__link map__navigator-dropdown-link">SkyWars</a>
      </div>
    </div>
    <div class="dropdown map__navigator-dropdown map__navigator-dropdown--2">
        <span class="dropdown__label dropdown map__navigator-dropdown-label">
          Calificación
        </span>
      <div class="dropdown__content">
        <a href="#" class="dropdown__link map__navigator-dropdown-link">1 estrella</a>
        <a href="#" class="dropdown__link map__navigator-dropdown-link">2 estrellas</a>
        <a href="#" class="dropdown__link map__navigator-dropdown-link">3 estrellas</a>
        <a href="#" class="dropdown__link map__navigator-dropdown-link">4 estrellas</a>
        <a href="#" class="dropdown__link map__navigator-dropdown-link">5 estrellas</a>
      </div>
    </div>
  </div>
  <div class="map">
    <a href="#">
      <img src="../../../../assets/images/map_placeholder.png" class="map__image">
    </a>
    <a href="#" class="map__title">
      Golden Drought IV
    </a>
    <p class="map__author">
      por <a href="#">TakeMyTomato</a>
    </p>
    <div class="map__stars">
      <fa-icon class="map__star map__star--active" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
    </div>
  </div>
  <div class="map">
    <a href="#">
      <img src="../../../../assets/images/map_placeholder.png" class="map__image">
    </a>
    <a href="#" class="map__title">
      Golden Drought IV
    </a>
    <p class="map__author">
      por <a href="#">TakeMyTomato</a>
    </p>
    <div class="map__stars">
      <fa-icon class="map__star map__star--active" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
    </div>
  </div>
  <div class="map">
    <a href="#">
      <img src="../../../../assets/images/map_placeholder.png" class="map__image">
    </a>
    <a href="#" class="map__title">
      Golden Drought IV
    </a>
    <p class="map__author">
      por <a href="#">TakeMyTomato</a>
    </p>
    <div class="map__stars">
      <fa-icon class="map__star map__star--active" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
    </div>
  </div>
  <div class="map">
    <a href="#">
      <img src="../../../../assets/images/map_placeholder.png" class="map__image">
    </a>
    <a href="#" class="map__title">
      Golden Drought IV
    </a>
    <p class="map__author">
      por <a href="#">TakeMyTomato</a>
    </p>
    <div class="map__stars">
      <fa-icon class="map__star map__star--active" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
    </div>
  </div>
  <div class="map">
    <a href="#">
      <img src="../../../../assets/images/map_placeholder.png" class="map__image">
    </a>
    <a href="#" class="map__title">
      Golden Drought IV
    </a>
    <p class="map__author">
      por <a href="#">TakeMyTomato</a>
    </p>
    <div class="map__stars">
      <fa-icon class="map__star map__star--active" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
    </div>
  </div>
  <div class="map">
    <a href="#">
      <img src="../../../../assets/images/map_placeholder.png" class="map__image">
    </a>
    <a href="#" class="map__title">
      Golden Drought IV
    </a>
    <p class="map__author">
      por <a href="#">TakeMyTomato</a>
    </p>
    <div class="map__stars">
      <fa-icon class="map__star map__star--active" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
    </div>
  </div>
</section>
