<section class="forum-overriding">
  <div class="row row--fluid">
    <div class="col-3-of-4">
      <div class="breadcrumb">
        <div class="breadcrumb__section">
          <a class="breadcrumb__link" routerLink="/foro">Foro</a>
          <a *ngIf="cast(data.topic.forum).parent" class="breadcrumb__link" routerLink="{{'/foro/' + data.topic.forum.parent._id}}">{{data.topic.forum.parent.name}}</a>
          <a class="breadcrumb__link" routerLink="{{'/foro/' + cast(data.topic.forum)._id}}">{{cast(data.topic.forum).name}}</a>
          <a class="breadcrumb__link">Responder tema</a>
        </div>
      </div>
      <form class="topic" #topic_new="ngForm" (submit)="onSubmit()">
        <div class="topic__replier">
          <h1 class="heading u-margin-bottom-small">Comentar el tema <span class="heading--secondary"><a routerLink="{{'/foro/tema/' + data.topic._id}}">{{data.topic.subject}}</a></span></h1>
          <div class="u-margin-bottom-medium">
            <a class="tab__link tab__link--horizontal tab__link--active" tab tab_id="new">Tu mensaje</a>
            <a class="tab__link tab__link--horizontal" tab tab_id="original">Mensaje original</a>
            <a *ngIf="data.quote" class="tab__link tab__link--horizontal" tab tab_id="quoted">Mensaje que citarás</a>
          </div>
          <div id="new" class="tab tab--active u-margin-bottom-medium paragraph--white">
            <ckeditor id="content" name="content" #content="ngModel" [(ngModel)]="post.content" tagName="editor" [editor]="editor"></ckeditor>
          </div>
          <div id="original" class="tab u-margin-bottom-medium">
            <div id="{{data.original._id}}" class="post">
              <div class="post__header">
                <a routerLink="{{'/' + data.original.author.username}}"><img alt="{{data.original.author.display}}" class="post__user-avatar" [class.post__user-avatar--online]="data.original.author.session.lastSeen === -1" src="{{'https://mc-heads.net/avatar/' + data.original.author.skin}}"></a>
                <div class="post__placeholder">
                  <div class="post__top">
                    <a class="post__username" [style.color]="getPlaceholder(data.original.author).mainGroup.html_color" routerLink="{{'/' + data.original.author.username}}">{{data.original.author.display}}</a>
                    <div class="post__badges">
                      <a *ngFor="let badge of getPlaceholder(data.original.author).groups" class="profile__badge" [routerLink]="badge.badge_link" [style.background-color]="badge.html_color">{{badge.name}}</a>
                    </div>
                  </div>
                  <span class="post__date" tooltip content="Creado en {{data.original.createdAt | unixDate | valueOf | amLocale: 'es' | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}" placement="bottom">{{data.original.createdAt | unixDate | valueOf | amLocale: 'es' | amTimeAgo}}</span>
                </div>
              </div>
              <div class="post__content">
                <p class="post__content-container" [innerHTML]="data.original.content | noSanitize"></p>
              </div>
            </div>
          </div>
          <div *ngIf="data.quote" id="quoted" class="tab u-margin-bottom-medium">
            <div id="{{data.quote._id}}" class="post">
              <div class="post__header">
                <a routerLink="{{'/' + data.quote.author.username}}"><img alt="{{data.quote.author.display}}" class="post__user-avatar" [class.post__user-avatar--online]="data.quote.author.session.lastSeen === -1" src="{{'https://mc-heads.net/avatar/' + data.quote.author.skin}}"></a>
                <div class="post__placeholder">
                  <div class="post__top">
                    <a class="post__username" [style.color]="getPlaceholder(data.quote.author).mainGroup.html_color" routerLink="{{'/' + data.quote.author.username}}">{{data.quote.author.skin}}</a>
                    <div class="post__badges">
                      <a *ngFor="let badge of getPlaceholder(data.quote.author).groups" class="profile__badge" [routerLink]="badge.badge_link" [style.background-color]="badge.html_color">{{badge.name}}</a>
                    </div>
                  </div>
                  <span class="post__date" tooltip content="Creado en {{data.quote.createdAt | unixDate | valueOf | amLocale: 'es' | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}" placement="bottom">{{data.quote.createdAt | unixDate | valueOf | amLocale: 'es' | amTimeAgo}}</span>
                </div>
              </div>
              <div class="post__content">
                <p class="post__content-container" [innerHTML]="data.quote.content | noSanitize"></p>
              </div>
            </div>
          </div>
          <div class="u-right-text u-margin-bottom-small">
            <button class="btn btn--secondary"><i class="fas fa-comment btn__icon--left"></i>Comentar tema</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-1-of-4">
      <forum-feed></forum-feed>
    </div>
  </div>
</section>
