<header class="header">
  <div class="header__top">
    <span class="header__top-background"></span>
    <div class="header__social-media">
      <a href="https://www.facebook.com/SeocraftNetwork" class="header__social-icons"><i class="fab fa-facebook-square"></i></a>
      <a href="https://twitter.com/SeocraftNetwork" class="header__social-icons"><i class="fab fa-twitter"></i></a>
      <a href="#" class="header__social-icons"><i class="fab fa-youtube"></i></a>
      <a href="https://github.com/SeocraftNetwork" class="header__social-icons"><i class="fab fa-github"></i></a>
    </div>
    <div class="header__announcements">
      <span class="header__announcements-slider"></span>
    </div>
    <div class="header__buttons" *ngIf="!logged">
      <a popup popup_id="login-popup" class="btn btn--transparent">
        <i class="btn__icon--left fas fa-user"></i>
        Iniciar sesión
      </a>
      <a [routerLink]="['/registrarse']" class="btn btn--transparent">

        <i class="btn__icon--left fas fa-sign-in-alt"></i>
        Registrarse
      </a>
    </div>
    <div class="header__profile" *ngIf="logged">
      <div class="header__profile-container">
        <a (click)="comingSoon()" class="header__alerts u-pointer">?</a>
        <div class="header__menu-slug" profile-dropdown>
          <div class="header__profile-avatar">
            <img src="{{'https://mc-heads.net/avatar/' + header.user.skin}}" alt="" class="header__profile-image">
          </div>
          <span class="header__profile-name">{{header.user.display}}</span>
        </div>
        <nav class="header__menu">
          <section *ngIf="header.generalAccess" class="header__menu-admin">
            <button id="admin-button" class="collapsible__button" collapsible>Administración</button>
            <div class="collapsible__panel">
              <a *ngIf="header.userEdit" (click)="comingSoon()" class="header__menu-link u-pointer">
                Usuarios
              </a>
              <a *ngIf="header.group" routerLink="/admin/grupos" class="header__menu-link u-pointer">
                Grupos
              </a>
              <a *ngIf="header.category" [routerLink]="['/admin/categorias']" class="header__menu-link">
                Categorías
              </a>
              <a *ngIf="header.forum" routerLink="{{'/admin/foros'}}" class="header__menu-link">
                Foros
              </a>
            </div>
          </section>
          <section class="header__menu-nav">
            <a routerLink="{{'/' + header.user.username}}" class="header__menu-link">Perfil</a>
            <a (click)="comingSoon()" class="header__menu-link u-pointer">Amigos</a>
            <a routerLink="/reportes" class="header__menu-link">Reportes</a>
            <a routerLink="/apelaciones" class="header__menu-link">Apelaciones</a>
            <a [routerLink]="['/cuenta']" class="header__menu-link">Mi cuenta</a>
            <a [routerLink]="'/'" (click)="logout()" class="header__menu-link">Cerrar sesión</a>
          </section>
        </nav>
      </div>
    </div>
  </div>
  <div class="header__main">
    <span class="header__main-background"></span>
    <a [routerLink]="['/']" class="header__logo">
      <img src="../../../../assets/images/logo.png" alt="Seocraft Logo" class="header__image">
    </a>
    <span class="header__navigator-responsive" navbar-responsive><i class="fas fa-bars"></i></span>
    <nav id="navigator" class="header__navigator">
      <span class="header__navigator-close u-pointer" navbar-responsive><i class="fas fa-times"></i></span>
      <ul>
        <li>
          <a (click)="comingSoon()" class="u-pointer">
            <i class="fas fa-gamepad"></i>
            Jugar
          </a>
        </li>
        <li>
          <a routerLink="/mapas">
            <i class="fas fa-compass"></i>
            Mapas
          </a>
        </li>
        <li class="dropdown">
          <span class="dropdown__label" navbar-dropdown>
            <i class="fas fa-users"></i>
            Usuarios
          </span>
          <div class="dropdown__content">
            <input type="text" class="search__navbar" placeholder="Buscar jugador...">
            <button class="search__navbar-button">
              <i class="fas fa-search"></i>
            </button>
            <a (click)="comingSoon()" class="dropdown__link u-pointer">Estadísticas</a>
            <a routerLink="/staff" class="dropdown__link">Conóce al staff</a>
          </div>
        </li>
        <li>
          <a routerLink="/foro">
            <i class="fas fa-comments"></i>
            Foros
          </a>
        </li>
        <li>
          <a routerLink="/donaciones">
            <i class="fas fa-shopping-bag"></i>
            Tienda
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<section class="login-popup" id="login-popup">
  <form #login_request="ngForm" (ngSubmit)="loginRequest()" class="login-popup__content">
    <h2 class="heading heading--primary u-margin-bottom-small">Iniciar sesión</h2>
    <p class="paragraph paragraph--white">¡Ingresa tu mail y contraseña para ingresar a Seocraft Network!</p>
    <a popup popup_id="login-popup" #login_close class="login-popup__close"><i class="fas fa-times"></i></a>
    <div class="login-popup__input-box">
      <label for="email" class="form__icon"><i class="fas fa-user"></i></label>
      <input class="form__input" [class.form__input--invalid]="!email.valid && email.touched" id="email" name="email" type="email" #email="ngModel" [(ngModel)]="requested_email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Correo electrónico" required>
    </div>
    <div class="login-popup__input-box">
      <label for="password" class="form__icon"><i class="fas fa-lock"></i></label>
      <input class="form__input" [class.form__input--invalid]="!password.valid && password.touched" id="password" name="password" type="password" #password="ngModel" [(ngModel)]="requested_password" placeholder="Contraseña" required>
    </div>
    <div class="login__link">
      <label for="persistence" class="form__checkbox">
        <input class="form__checkbox-input" id="persistence" name="persistence" type="checkbox" #persistence="ngModel" [(ngModel)]="requested_persistence">
        <span class="form__checkbox-checkmark"></span>
      </label>
      <label for="persistence" class="link link--small link--white">Mantener la sesión iniciada</label>
    </div>
    <button class="btn btn--primary" [disabled]="!login_request.valid">Iniciar sesión</button>
    <a href="#" class="login-popup__link link link--small link--white">¿Olvidaste tu contraseña?</a>
  </form>
</section>
