<section>
  <div class="row u-margin-bottom-small">
    <div class="col-3-of-4">
      <h1 class="heading heading--primary">Lista de apelaciones</h1>
    </div>
    <div class="col-1-of-4">
      <div class="appeal__classifier">
        <div class="classifier">
        <span class="classifier__label" classifier>
            Todos
        </span>
          <div class="classifier__content">
            <a href="#" class="classifier__option">Todas</a>
            <a href="#" class="classifier__option">Abiertas</a>
            <a href="#" class="classifier__option">Cerradas</a>
            <a href="#" class="classifier__option">Escaladas</a>
            <a href="#" class="classifier__option">Involucrado</a>
            <a href="#" class="classifier__option">Esperando</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table--black table--fixed">
    <div class="table__header">
      <div class="table__cell appeal__table-small">
        <p>Estado</p>
      </div>
      <div class="table__cell appeal__table-small">
        <p>Encargado</p>
      </div>
      <div class="table__cell appeal__table-large">
        <p>Última acción</p>
      </div>
      <div class="table__cell appeal__table-small">
        <p>Fecha</p>
      </div>
      <div class="table__cell appeal__table-buttons">
        <p>Acciones</p>
      </div>
    </div>
    <div class="table__row">
      <div class="table__cell appeal__table-small">
        <p>En disPUTA</p>
      </div>
      <div class="table__cell appeal__table-small ">
        <p>El Tomato</p>
      </div>
      <div class="table__cell appeal__table-large">
        <p>Respuesta de XDX</p>
      </div>
      <div class="table__cell appeal__table-small">
        <p>hace 3 días</p>
      </div>
      <div class="table__cell appeal__table-buttons">
        <a href="#" class="btn btn--blue shop__description-slug-button shop__cart-button">Asignar</a>
      </div>
    </div>
  </div>
</section>
