<section>
  <h1 class="heading heading--primary u-margin-bottom-small">Staff</h1>
  <div *ngFor="let group of groups">
    <section *ngIf="group.user.length > 0" class="staff">
      <div class="staff__title">
        <h2 [style.color]="group.group.html_color" class="staff__name">{{group.group.name}}</h2>
        <span class="staff__indicator">{{group.user.length}}</span>
      </div>
      <div class="staff_members">
        <article *ngFor="let member of group.user" class="staff__item">
          <a routerLink="{{'/' + member.username}}" class="staff__image"><img src="{{'https://minotar.net/avatar/' + member.skin}}" alt="{{member.display}}"></a>
          <a
            [style.color]="getPlaceholder(member)"
            [style.border-bottom]="'2px solid ' + group.group.html_color"
            routerLink="{{'/' + member.username}}"
            class="staff__username"
          >{{member.display}}</a>
          <p
            *ngIf="getSelectedGroup(group.group._id, member).comment"
            class="staff__comment">
            {{getSelectedGroup(group.group._id, member).comment | titlecase}}
          </p>
          <p
            *ngIf="!getSelectedGroup(group.group._id, member).comment"
            class="staff__comment">
            {{group.group.name | titlecase}}
          </p>
          <ul class="staff__icons">
            <li *ngIf="member.publicInfo.twitter"><a href="{{'https://www.twitter.com/' + member.publicInfo.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li *ngIf="member.publicInfo.email"><a href="{{'mailto:' + member.publicInfo.email}}"><i class="fas fa-envelope"></i></a></li>
          </ul>
        </article>
      </div>
    </section>
  </div>
</section>
