<section>
  <h1 class="heading u-margin-bottom-small">Mis transacciones</h1>
  <div class="table--black table--fixed">
    <div class="table__header">
      <div class="table__cell">
        <p>ID</p>
      </div>
      <div class="table__cell">
        <p>Cantidad</p>
      </div>
      <div class="table__cell">
        <p>Descripción</p>
      </div>
      <div class="table__cell">
        <p>Fecha</p>
      </div>
      <div class="table__cell">
        <p>Estado</p>
      </div>
      <div class="table__cell">
        <p>Factura</p>
      </div>
    </div>
    <div class="table__row">
      <div class="table__cell">
        <p>12341</p>
      </div>
      <div class="table__cell">
        <p>3$</p>
      </div>
      <div class="table__cell">
        <p>Warlord - Regalo</p>
      </div>
      <div class="table__cell">
        <p>hace 4 días</p>
      </div>
      <div class="table__cell">
        <p>Declinada</p>
      </div>
      <div class="table__cell">
        <a href="#" class="btn btn--primary shop__description-slug-button shop__cart-button"><fa-icon [icon]="faRecipt"></fa-icon> Descargar</a>
      </div>
    </div>
  </div>
</section>
