<section>
  <h1 class="heading u-margin-bottom-small">Sanción de <span class="heading--primary">{{punishment.punished.display}}</span></h1>
  <form #punishmentEdit="ngForm" (ngSubmit)="onSubmit()" class="row">
    <div class="col-1-of-2">
      <div class="u-margin-bottom-medium">
        <label class="form__label" for="reason">Razón</label>
        <input id="reason" name="reason" #reason="ngModel" [class.form__input--invalid]="!reason.valid && reason.touched"  [(ngModel)]="punishment.reason" type="text" class="form__input form__input--full" placeholder="Ej. Hack - Fly" required>
      </div>
      <div class="u-margin-bottom-medium">
        <label class="form__label" for="evidence">Evidencia</label>
        <textarea id="evidence" name="evidence" #evidence="ngModel" [class.form__textarea--invalid]="!evidence.valid && evidence.touched" [(ngModel)]="punishment.evidence" cols="30" rows="10" class="form__textarea" placeholder="Ej. https://imgur.com/image" required></textarea>
      </div>
      <div class="u-margin-bottom-medium">
        <label class="form__label">Expira</label>
        <my-date-picker
          id="expires"
          name="expires"
          [options]="pickerOptions"
          [(ngModel)]="punishment.expires"
          (dateChanged)="dateChange($event)"
          required
        >
        </my-date-picker>
        <span class="punishment__advice">* Por razones administrativas las sanciones temporales son mínimo de un día.</span>
      </div>
    </div>
    <div class="col-1-of-2">
      <div class="punishment__checkout">
        <h3 class="heading heading--primary u-margin-bottom-small">Resumen de la sanción</h3>
        <p class="punishment__checkout-indicator">
          <span>Usuario a sancionar:</span>
          <img *ngIf="punishment.punished && punishment.punished.username" src="{{'https://minotar.net/avatar/' + punishment.punished.skin}}" alt="Punishment user"> {{punishment.punished.display}}
        </p>
        <p class="punishment__checkout-indicator">
          <span>Tipo de sanción:</span> {{punishment.type}}
        </p>
        <p class="punishment__checkout-indicator">
          <span>Fecha en que expira:</span>
          <span *ngIf="punishment.expires === -1">Nunca</span>
          <span *ngIf="expiration">{{expiration}}</span>
        </p>
        <p class="punishment__checkout-indicator">
          <label for="active" class="form__checkbox">
            <input type="checkbox" id="active" class="form__checkbox-input" name="active" #active="ngModel" [(ngModel)]="punishment.active">
            <span class="form__checkbox-checkmark"></span>
          </label>
          <label for="active" class="link link--small link--white">La sanción se encuentra activa</label>
        </p>
        <p class="punishment__checkout-indicator">
          <label for="appealed" class="form__checkbox">
            <input type="checkbox" id="appealed" class="form__checkbox-input" name="appealed" #appealed="ngModel" [(ngModel)]="punishment.appealed">
            <span class="form__checkbox-checkmark"></span>
          </label>
          <label for="appealed" class="link link--small link--white">La sanción se ha intentado apelar</label>
        </p>
        <div class="u-right-text"><button class="btn btn--secondary">Actualizar sanción</button></div>
      </div>
      <span class="punishment__advice">* Los cambios guardados surgirán efecto inmediatamente en el servidor.</span>
    </div>
  </form>
</section>
