.group {

  &__list-small {
    width: 20%;

    & .btn {
      margin-right: 1rem;
    }
  }

  &__alert {
    margin: 1rem 0;
    display: block;
    font-size: 1.4rem;
    color: $color-mc-red;
  }

  &__list-big {
    width: 30%;
  }

  &__field {
    margin: 1rem 0;
    text-align: left;
  }

  &__selector {
    margin: auto;
    width: 70%;
  }

  &__label {
    display: block;
    color: $color-white;
    font-weight: 700;
    font-size: 1.4rem;
    margin: .3rem 0;
  }
}

.group-popup {
  height: 100%;
  width: 100%;
  position: fixed;
  margin: 0;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .6);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  &--active {
    opacity: 1;
    visibility: visible;

    & .group-popup__content {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__link {
    display: block;
    margin-top: .5rem;
  }

  &__content {
    @include absCenter;
    padding: 3rem;
    width: 50%;
    background-color: $color-tertiary-dark;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all .5s .2s;
    text-align: center;
    overflow: hidden;

    @include respond(phone) {
      padding: 3rem;
      width: 80%;
    }
  }

  &__input-box {
    margin: 1rem;

    &:last-of-type {
      margin-bottom: 2rem;
    }
  }

  &__close {
    &,
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 2rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
      cursor: pointer;
    }

    &:hover {
      color: $color-primary;
    }
  }

}
