.map {
  background-color: $color-tertiary-dark;
  padding: 1rem;
  text-align: center;
  display: inline-block;
  width: 29rem;
  margin: 2rem 3rem;

  &__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__main-title {
    display: inline-block;
    margin-right: 2rem;
  }

  &__navigator {
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 2rem 0;
    background-color: $color-light-black;
    padding: 0 3rem;
  }

  &__navigator-slug {
    color: $color-white;
    font-weight: 700;
    margin-right: 6rem;
  }

  &__navigator-dropdown {

    margin-right: 4rem;

    &--1 {
      width: 18rem;
    }

    &--2 {
      width: 14rem;
    }
  }

  &__navigator-dropdown-link {

    @include titleFont;

    text-decoration: none;
    font-size: 1.4rem;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      color: $color-secondary;
    }
  }

  &__navigator-dropdown-label {
    @include titleFont;
  }

  &__image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }

  &__title {

    @include titleFont;

    display: block;
    margin-top: 1.5rem;
    text-decoration: none;
    color: $color-white;
    transition: all .3s;

    &:hover {
      color: $color-primary;
    }
  }

  &__author {
    font-size: 1.3rem;
    margin-top: 1rem;
    font-weight: 700;
    color: $color-white;

    & a {
      text-decoration: none;
      color: $color-primary;
    }
  }

  &__author-info {
    font-size: 1.4rem;
    font-weight: 700;
    color: $color-white;

    & a {
      text-decoration: none;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3rem 0;
    padding-left: 8rem;
  }

  &__info-slug {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
    background-color: $color-light-black;
  }

  &__info-button {
    margin-top: 2rem;
  }

  &__info-placeholder {
    @include titleFont;
    color: $color-primary;
  }

  &__objective {

    display: flex;
    margin-bottom: 1rem;

    & p {
      margin-left: 3.8rem;
      font-size: 1.5rem;
      color: $color-white;
      font-weight: 700;
    }
  }

  &__stars {
    margin: .5rem 0;
  }

  &__star {
    color: $color-tertiary;

    &--active {
      color: $color-primary;
    }
  }
}
