.report {
  margin: 2rem 0;

  &__table-small {
    width: 20%;
  }

  &__table-large {
    width: 30%;
  }

  &__search {
    margin: auto;
    width: 40rem;
  }

  &__new-question {
    @include titleFont;
  }

  &__details {
    width: calc(100% - 4rem);
    padding: 2rem;
    background-color: $color-light-black;
    border-left: 3px solid $color-secondary;
    color: $color-white;
    font-size: 1.5rem;
    margin: 1rem 0;

    & span {
      @include titleFont;
    }
  }

  &__action {
    @include clearfix;
    margin: 1rem 0;

    &--left {
      display: flex;
      align-items: center;
      float: left;

      & img {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
      }
    }

    &--right {
      display: flex;
      align-items: center;
      float: right;
    }
  }

  &__action-info {
    @include titleFont;
    display: inline-block;

    & a {
      text-decoration: none;
    }
  }

  &__date {
    font-size: 1.4rem;
    color: $color-white;
  }

  &__comment {
    @include clearfix;
    margin: 2rem 0;
    display: flex;
  }

  &__comment-image {
    width: 7%;
    margin-right: 1rem;

    & img {
      width: 6rem;
      height: 6rem;
    }
  }

  &__comment-action {
    display: flex;
    flex-direction: column;
    width: 93%;
  }

  &__comment-text {
    border-left: 3px solid $color-secondary;
    padding: 1rem;
    font-size: 1.2rem;
    color: $color-white;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

}

.report-popup {
  height: 100%;
  width: 100%;
  position: fixed;
  margin: 0;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .6);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  &--active {
    opacity: 1;
    visibility: visible;

    & .report-popup__content {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__link {
    display: block;
    margin-top: .5rem;
  }

  &__content {
    @include absCenter;
    padding: 3rem;
    width: 50%;
    background-color: $color-tertiary-dark;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all .5s .2s;
    text-align: center;
    overflow: hidden;

    @include respond(phone) {
      padding: 3rem;
      width: 80%;
    }
  }



  &__input-box {
    margin: 1rem;

    &:last-of-type {
      margin-bottom: 2rem;
    }
  }

  &__close {
    &,
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 2rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
      cursor: pointer;
    }

    &:hover {
      color: $color-primary;
    }
  }

}


