.report {
  margin: 2rem 0;

  &__table-small {
    width: 20%;
  }

  &__table-large {
    width: 30%;
  }

  &__search {
    margin: auto;
    width: 40rem;
  }

  &__new-question {
    @include titleFont;
  }

  &__details {
    width: calc(100% - 4rem);
    padding: 2rem;
    background-color: $color-light-black;
    border-left: 3px solid $color-secondary;
    color: $color-white;
    font-size: 1.5rem;
    margin: 1rem 0;

    & span {
      @include titleFont;
    }
  }

  &__action {
    @include clearfix;
    margin: 1rem 0;

    &--left {
      display: flex;
      align-items: center;
      float: left;

      & img {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
      }
    }

    &--right {
      display: flex;
      align-items: center;
      float: right;
    }
  }

  &__action-info {
    @include titleFont;
    display: inline-block;

    & a {
      text-decoration: none;
    }
  }

  &__date {
    font-size: 1.4rem;
    color: $color-white;
  }

  &__comment {
    @include clearfix;
    margin: 2rem 0;
    display: flex;
  }

  &__comment-image {
    width: 7%;
    margin-right: 1rem;

    & img {
      width: 6rem;
      height: 6rem;
    }
  }

  &__comment-action {
    display: flex;
    flex-direction: column;
    width: 93%;
  }

  &__comment-text {
    border-left: 3px solid $color-secondary;
    padding: 1rem;
    font-size: 1.2rem;
    color: $color-white;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

}
