.topic {
  margin: 2rem 0;
  padding: 1rem 1.5rem;
  background-color: $color-tertiary-dark;
  border-top: 3px solid $color-secondary;
  overflow: auto;

  &__replier {
    @include respond(tab-port) {
      padding: 1rem 1.5rem;
    }
  }

  @include respond(tab-port) {
    padding: 1rem 0;
  }

  &__header {
    display: flex;
    align-items: center;

    @include respond(tab-port) {
      justify-content: center;
    }

  }

  &__header-buttons {
    position: relative;
    top: .3rem;

    @include respond(tab-port) {
      text-align: center;
    }
  }

  &__title {
    font-size: 1.5rem;
    margin-right: 2rem;
  }

  &__icon {
    font-size: 1rem;
    padding: 0 .7rem;
  }

  &__posts {
    margin: 2rem 0;
  }

  &__header-buttons > .btn {
    margin-bottom: .5rem;
  }

  &__edit {
    width: 60%;
  }

}
