<section>
  <div class="row">
    <div class="col-3-of-4">
      <div class="forum__tree">
        <section *ngIf="main && main.length > 0"  class="forum__section">
          <div *ngFor="let forum of main" class="category">
            <div *ngIf="forum.holder.length > 0">
              <div class="category__header">
                <div class="category__header-title">
                  {{forum.category.name}}
                </div>
                <div class="category__header-indicator">
                  Temas
                </div>
                <div class="category__header-indicator">
                  Mensajes
                </div>
              </div>
              <div *ngFor="let holder of forum.holder" class="category__node">
                <div class="category__node-title">
                  <i class="category__node-image fas fa-ellipsis-v"></i>
                  <a routerLink="{{'/foro/' + holder.forum._id}}" class="category__node-title-link">{{holder.forum.name}}</a>
                </div>
                <div class="category__node-indicator">
                  <span *ngIf="holder.unread !== 0" class="forum__new" tooltip content="{{'Tienes ' + holder.unread + ' temas por ver en este foro'}}" placement="top">{{holder.unread}}</span>
                  <span class="category__node-number">{{holder.topics}}</span>
                </div>
                <div class="category__node-indicator">
                  <span class="category__node-number">{{holder.messages}}</span>
                </div>
                <div class="category__node-last">
                  <a *ngIf="holder.lastTopic" routerLink="{{'/foro/tema/' + holder.lastTopic._id}}" class="category__node-top">
                    {{holder.lastTopic.subject}}
                  </a>
                  <a *ngIf="!holder.lastTopic" routerLink="{{'/foro/' + holder.forum._id}}" class="category__node-top">
                    No hay temas aún :(
                  </a>
                  <div *ngIf="holder.lastTopic" class="category__node-bottom">
                    <img src="{{'https://mc-heads.net/avatar/' + holder.lastTopic.author.skin}}" alt="Category image" class="category__node-avatar">
                    <a routerLink="{{'/' + holder.lastTopic.author.username}}" class="category__node-username" [style.color]="getPlaceholder(holder.lastTopic.author).mainGroup.html_color">{{holder.lastTopic.author.display}}</a>
                    <span tooltip content="Creado en {{holder.lastTopic.createdAt | unixDate | valueOf | amLocale: 'es' | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}" placement="top" class="category__node-date">{{holder.lastTopic.createdAt | unixDate | valueOf | amLocale: 'es' | amTimeAgo}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <p *ngIf="!main || main.length === 0" class="u-center-text paragraph--white">No hay foros en este momento... Deberás esperar a que la administración los cree :)</p>
      </div>
    </div>
    <div class="col-1-of-4">
      <!--
      <forum-feed></forum-feed>
      -->
    </div>
  </div>
</section>
