<section class="u-center-text">
  <h1 class="heading u-margin-bottom-small">Apoya a <span class="heading--primary">Seocraft Network</span></h1>
  <p class="paragraph paragraph--white u-margin-bottom-small">
    ¡Si estás en esta página web es porque decidiste apoyar nuestro proyecto! <em>(Y si no tienes dinero, lo que cuenta es la intención ¯\_(ツ)_/¯)</em>
  </p>
  <p class="paragraph paragraph--white u-margin-bottom-small">
    Recuerda que para nosotros en Seocraft Network, es prioridad dar una experiencia <b>100% IN-HOUSE</b>, es decir, todos nuestros plugins, herramientas y sitios web son hechos por nuestros developers.
  </p>
  <p class="paragraph paragraph--white u-margin-bottom-small">
    Esta página de donaciones se habilitará mientras nos encontremos en fase <em>ALPHA/BETA</em>, podrás dar en el botón de abajo para realizar una donación en PayPal. Este dinero se usará para costear nuestros developers, hosting y diseño, así que no te preocupes, tu dinero está en buenas manos ♥.
  </p>
  <p class="paragraph paragraph--white u-margin-bottom-medium">
    Puedes realizar una donación de la cantidad que gustes, aunque considera que también sea algo razonable (Ejemplo: 5$ USD). Si realizas una donación mayor a esa, recibirás el rango <b class="paragraph--donor">[DONADOR]</b> en el servidor, Discord y en el sitio web, además de una sorpresa especial cuando la tienda abra oficialmente ٩(^ᴗ^)۶
  </p>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=E4XUU75PWNQHS&source=url" class="btn btn--primary">¡Realiza una donación!</a>
  <p class="paragraph paragraph--white u-margin-top-medium">
    Recuerda escribirnos a <b>contacto@seocraft.net</b> tu ID de transacción y tu nombre de usuario para recibir tu rango.
  </p>
</section>
