<section>
  <div class="row u-margin-bottom-medium">
    <div class="col-1-of-2">
      <h1 class="heading">Apelar una sanción</h1>
    </div>
    <div class="col-1-of-2 u-right-text">
      <a routerLink="/apelaciones" class="btn btn--primary btn--uppercase btn--strong profile__button"><fa-icon [icon]="faList"></fa-icon> Tus apelaciones</a>
    </div>
  </div>
  <div class="row">
    <div class="col-1-of-3">
      <h3 class="heading heading--primary u-margin-bottom-small">¿Que puede ser apelado?</h3>
      <p class="paragraph--white">Cualquier sanción que consideres que fué muy sever a o fué aplicada incorrectamente.</p>
      <p class="paragraph--white">Las apelaciones existen para corregir errores, no para cuestionar las normas.</p>
    </div>
    <div class="col-1-of-3">
      <h3 class="heading heading--primary u-margin-bottom-small">¿Como se resuelven las apelaciones?</h3>
      <p class="paragraph--white">El moderador que te sancionó revisará tu incidente y apelarán la infracción si creen que fué un error o reducirán su severidad si creen que fué muy dura.</p>
      <p class="paragraph--white">Si no estás de acuerdo con la decisión, puedes escalarla a un miembro alto de la división staff, pero esto demorará su respuesta.</p>
    </div>
    <div class="col-1-of-3">
      <h3 class="heading heading--primary u-margin-bottom-small">Conducta en apelaciones</h3>
      <p class="paragraph--white">Si sanción fué aplicada incorrectamente, puedes apelarla en un tiempo prudente. Los moderadores solo deben retener la evidencia con respecto a modificaciones ilegales y cheats durante 28 días.</p>
      <p class="paragraph--white">Si tu mientes en la sanción o tratas de manera inadecuada al personal, esta podrá ser negada y estarás sujeto a una posible sanción.</p>
    </div>
  </div>
  <div class="u-center-text u-margin-top-medium">
    <p *ngIf="!canAppeal" class="paragraph--white u-margin-bottom-small">¡Sigue así!, no tienes sanciones para apelar.</p>
    <button [disabled]="!canAppeal" routerLink="/apelar/ver" class="btn btn--primary">Adelante, ¡Vamos! &#187;</button>
  </div>
</section>
