<section>
  <h1 class="heading">Registro de desarrollo</h1>
  <div class="u-margin-top-small">
    <button class="tab__link tab__link--horizontal tab__link--active" tab tab_id="api">API</button>
    <button class="tab__link tab__link--horizontal" tab tab_id="website">Website</button>
    <button class="tab__link tab__link--horizontal" tab tab_id="minecraft">Minecraft</button>
  </div>
  <div class="tab tab--active u-margin-top-small" id="api">
    <div class="table--black table--fixed">
      <div class="table__header">
        <div class="table__cell">
          <p>#</p>
        </div>
        <div class="table__cell">
          <p>ID</p>
        </div>
        <div class="table__cell">
          <p>Autor</p>
        </div>
        <div class="table__cell">
          <p>Descripción</p>
        </div>
        <div class="table__cell">
          <p>Fecha</p>
        </div>
      </div>
      <div class="table__row">
        <div class="table__cell">
          <p></p>
        </div>
        <div class="table__cell">
          <p>asdfasd</p>
        </div>
        <div class="table__cell">
          <p>ElTomate</p>
        </div>
        <div class="table__cell">
          <p>Creado todo c:</p>
        </div>
        <div class="table__cell">
          <p>hace 777 años</p>
        </div>
      </div>
    </div>
  </div>
  <div class="tab u-margin-top-small" id="website">
    <div class="table--black table--fixed">
      <div class="table__header">
        <div class="table__cell">
          <p>#</p>
        </div>
        <div class="table__cell">
          <p>ID</p>
        </div>
        <div class="table__cell">
          <p>Autor</p>
        </div>
        <div class="table__cell">
          <p>Descripción</p>
        </div>
        <div class="table__cell">
          <p>Fecha</p>
        </div>
      </div>
      <div class="table__row">
        <div class="table__cell">
          <p></p>
        </div>
        <div class="table__cell">
          <p>asdfasd</p>
        </div>
        <div class="table__cell">
          <p>ElTomate</p>
        </div>
        <div class="table__cell">
          <p>Creado todo c:</p>
        </div>
        <div class="table__cell">
          <p>hace 777 años</p>
        </div>
      </div>
    </div>
  </div>
  <div class="tab u-margin-top-small" id="minecraft">
    <div class="table--black table--fixed">
      <div class="table__header">
        <div class="table__cell">
          <p>#</p>
        </div>
        <div class="table__cell">
          <p>ID</p>
        </div>
        <div class="table__cell">
          <p>Autor</p>
        </div>
        <div class="table__cell">
          <p>Descripción</p>
        </div>
        <div class="table__cell">
          <p>Fecha</p>
        </div>
      </div>
      <div class="table__row">
        <div class="table__cell">
          <p></p>
        </div>
        <div class="table__cell">
          <p>asdfasd</p>
        </div>
        <div class="table__cell">
          <p>ElTomate</p>
        </div>
        <div class="table__cell">
          <p>Creado todo c:</p>
        </div>
        <div class="table__cell">
          <p>hace 777 años</p>
        </div>
      </div>
    </div>
  </div>
  <p class="paragraph u-margin-top-small">* Solo se mostrarán las 30 actualizaciones más recientes de cada repositorio.</p>
</section>
