<!-- Uncomment when deployed
<section class="home">
  <div class="home__announcements">
    <div class="slider" slider>
      <div class="slider__wrapper" data-glide-el="track">
        <ul class="slider__slides">
          <li class="slider__slide slider__slide--1"></li>
          <li class="slider__slide slider__slide--2"></li>
          <li class="slider__slide slider__slide--3"></li>
        </ul>
      </div>
      <div class="slider__controls" data-glide-el="controls">
        <button class="slider__button slider__button--left" data-glide-dir="<"><fa-icon [icon]="faAngleLeft"></fa-icon></button>
        <button class="slider__button slider__button--right" data-glide-dir=">"><fa-icon [icon]="faAngleRight"></fa-icon></button>
      </div>
    </div>
  </div>
  <div class="home__news">
    <div *ngFor="let post of posts" class="announcement">
      <div class="announcement__head">
        <h2 class="heading announcement__title">{{post.topic_title}}</h2>
        <div class="announcement__author">
          Posteado por <a routerLink="{{'/' + post.created_by.username}}" class="announcement__author-placeholder"><img src="{{'https://minotar.net/avatar/' + post.created_by.username}}" alt="" class="announcement__author-image"><span>{{post.created_by.username}}</span></a> {{post.created_at | valueOf | amLocale: 'es' | amTimeAgo}}
        </div>
      </div>
      <div class="announcement__post">
        <div class="announcement__content" [innerHTML]="post.content"></div>
        <div class="announcement__button">
          <a routerLink="{{'/foro/tema/' + post.topic_id}}" class="btn btn--secondary">Seguir leyendo &#187;</a>
        </div>
      </div>
    </div>
  </div>
</section>
-->
