<section>
  <h1 class="heading u-margin-bottom-small">Apelando sanciones de xxx</h1>
  <p class="paragraph--white u-margin-bottom-small">Ver tus otras apelaciones.</p>
  <div class="table--black table--fixed">
    <div class="table__header">
      <div class="table__cell appeal__table-small">
        <p>Estado</p>
      </div>
      <div class="table__cell appeal__table-small">
        <p>Encargado</p>
      </div>
      <div class="table__cell appeal__table-large">
        <p>Última acción</p>
      </div>
      <div class="table__cell appeal__table-large">
        <p>Fecha</p>
      </div>
    </div>
    <div class="table__row">
      <div class="table__cell appeal__table-small">
        <p>En disPUTA</p>
      </div>
      <div class="table__cell appeal__table-small ">
        <p>El Tomato</p>
      </div>
      <div class="table__cell appeal__table-large">
        <p>Respuesta de XDX</p>
      </div>
      <div class="table__cell appeal__table-large">
        <p>hace 3 días &nbsp;<a href="#" class="btn btn--blue shop__description-slug-button shop__cart-button">Ver</a></p>
      </div>
    </div>
  </div>
  <p class="paragraph--white u-margin-bottom-small">Selecciona que infracción deseas apelar.</p>
  <div class="table--black table--fixed">
    <div class="table__header">
      <div class="table__cell punishment__table-small">
        <p>Hecha por</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Usuario</p>
      </div>
      <div class="table__cell punishment__table-large">
        <p>Razón</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Tipo</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Estado</p>
      </div>
      <div class="table__cell punishment__table-small">

      </div>
    </div>
    <div class="table__row">
      <div class="table__cell punishment__table-small">
        <p>Tomate</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Flux</p>
      </div>
      <div class="table__cell punishment__table-large">
        <p>Hack - AntiKnockback</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Warn</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Permanente</p>
      </div>
      <div class="table__cell punishment__table-small">
        <a href="#" class="btn btn--green shop__description-slug-button shop__cart-button">Apelar</a>
      </div>
    </div>
  </div>
</section>
