<section>
  <h1 class="heading u-margin-bottom-small">Apelando sanciones de xxx</h1>
  <p class="paragraph--white u-margin-bottom-small">Ver tus otras apelaciones.</p>
  <div class="table--black table--fixed">
    <div class="table__header">
      <div class="table__cell appeal__table-small">
        <p>Estado</p>
      </div>
      <div class="table__cell appeal__table-small">
        <p>Encargado</p>
      </div>
      <div class="table__cell appeal__table-large">
        <p>Última acción</p>
      </div>
      <div class="table__cell appeal__table-large">
        <p>Fecha</p>
      </div>
    </div>
    <div class="table__row">
      <div class="table__cell appeal__table-small">
        <p>En disPUTA</p>
      </div>
      <div class="table__cell appeal__table-small ">
        <p>El Tomato</p>
      </div>
      <div class="table__cell appeal__table-large">
        <p>Respuesta de XDX</p>
      </div>
      <div class="table__cell appeal__table-large">
        <p>hace 3 días &nbsp;<a href="#" class="btn btn--blue shop__description-slug-button shop__cart-button">Ver</a></p>
      </div>
    </div>
  </div>
  <p class="paragraph--white u-margin-bottom-small">Selecciona que infracción deseas apelar. (Recuerda que puedes apelar infracciones activas y que no séan automáticas)</p>
  <div class="table--black table--fixed">
    <div class="table__header">
      <div class="table__cell punishment__table-small">
        <p>Hecha por</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Usuario</p>
      </div>
      <div class="table__cell punishment__table-large">
        <p>Razón</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Tipo</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Expira</p>
      </div>
      <div class="table__cell punishment__table-small">

      </div>
    </div>
    <div *ngFor="let punishment of not_appealed" class="table__row">
      <div class="table__cell punishment__table-small">
        <a routerLink="{{'/' + punishment.punisher.username}}" [style.color]="punishment.punisher.user_color">{{punishment.punisher.username}}</a>
      </div>
      <div class="table__cell punishment__table-small">
        <a routerLink="{{'/' + punishment.punished.username}}" [style.color]="punishment.punished.user_color">{{punishment.punished.username}}</a>
      </div>
      <div class="table__cell punishment__table-large">
        <p>{{punishment.reason}}</p>
      </div>
      <div class="table__cell punishment__table-small">
        <span style="color: red" *ngIf="punishment.type === 'temp-ban'">Temp-ban</span>
        <span style="color: red" *ngIf="punishment.type === 'ban'">Perma-ban</span>
        <span style="color: darkorange" *ngIf="punishment.type === 'kick'">Expulsión</span>
        <span style="color: green" *ngIf="punishment.type === 'warn'">Advertencia</span>
      </div>
      <div class="table__cell punishment__table-small">
        <p *ngIf="punishment.expires && punishment.expires !== 'never'">{{punishment.created_at | valueOf | amLocale: 'es' | amTimeAgo | titlecase}}</p>
        <p *ngIf="!punishment.expires || punishment.expires == 'never'">Nunca</p>
      </div>
      <div class="table__cell punishment__table-small">
        <a popup popup_id="appeal-popup" (click)="appealInsert(punishment.id)" class="btn btn--green shop__description-slug-button shop__cart-button">Apelar</a>
      </div>
    </div>
  </div>
</section>
<section class="appeal-popup" id="appeal-popup">
  <form #appeal_request="ngForm" (ngSubmit)="appealRequest()" class="appeal-popup__content">
    <h2 class="heading heading--primary">Abrir una apelación</h2>
    <p class="appeal__id">(IP registrada: {{user_ip}})</p>
    <a popup popup_id="appeal-popup" #appeal_close class="appeal-popup__close" (click)="appealReset()"><fa-icon [icon]="faTimes"></fa-icon></a>
    <p class="paragraph paragraph--white u-margin-bottom-small">Recuerda que al abrir una apelación entrarás en contacto directo con el moderador que aplicó la sanción.</p>
    <p class="paragraph paragraph--white">Escribe la razón por la cual deseas apelar esta sanción.</p>
    <div class="appeal__form">
      <textarea id="description" cols="30" rows="10" class="form__textarea" placeholder="Recuerda ser lo más explicito posible, nos ayudarás mucho."></textarea>
    </div>
    <div class="u-right-text">
      <button class="btn btn--primary"><fa-icon class="btn__icon--left" [icon]="faList"></fa-icon>Crear apelación</button>
    </div>
  </form>
</section>
