<section>
  <h1 class="heading">Política de reembolsos</h1>
  <p class="paragraph paragraph--white u-margin-bottom-small">
    No damos la posibilidad de reembolso en ninguna de nuestras compras en la tienda y/o donaciones realizadas. Si tienes problemas algún pago puedes escribirnos a <b>contacto@seocraft.net</b>, haremos nuestro mejor esfuerzo por ayudarte.
  </p>
  <p class="paragraph paragraph--white ">
    Recuerda que en el caso de realizar un reembolso forzado por parte de tu entidad financiera y/o cualquier situación en la que debamos realizar la devolución de dinero de una compra, tu cuenta y cualquier IP asociada con ella recibirá una suspensión permanente.
  </p>
</section>
