<section>
  <h1 class="heading u-margin-bottom-small">Sanciones recientes</h1>
  <div class="table table--fixed">
    <div class="table__header">
      <div class="table__cell punishment__table-small">
        <p>Hecha por</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Usuario</p>
      </div>
      <div class="table__cell punishment__table-large">
        <p>Razón</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Tipo</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Estado</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Fecha</p>
      </div>
    </div>
    <div class="table__row">
      <div class="table__cell punishment__table-small">
        <p>Tomate</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Flux</p>
      </div>
      <div class="table__cell punishment__table-large">
        <p>Hack - AntiKnockback</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Warn</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Permanente</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Hace 1 hora</p>
      </div>
    </div>
  </div>
  <pagination [actual_page]="1" [last_page]="100" [centered]="true"></pagination>
</section>
