<section>
  <h1 class="heading u-margin-bottom-small">Sanciones recientes</h1>
  <div class="table table--fixed">
    <div class="table__header">
      <div class="table__cell punishment__table-small">
        <p>Hecha por</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Usuario</p>
      </div>
      <div class="table__cell punishment__table-large">
        <p>Razón</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Tipo</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Expira</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Fecha</p>
      </div>
    </div>
    <div *ngFor="let punishment of punishments" class="table__row">
      <div class="table__cell punishment__table-small">
        <a routerLink="{{'/' + punishment.punisher_placeholder.username}}" [style.color]="punishment.punisher_placeholder.user_color">{{punishment.punisher_placeholder.username}}</a>
      </div>
      <div class="table__cell punishment__table-small">
        <a routerLink="{{'/' + punishment.punished_placeholder.username}}" [style.color]="punishment.punished_placeholder.user_color">{{punishment.punished_placeholder.username}}</a>
      </div>
      <div class="table__cell punishment__table-large">
        <p>{{punishment.punishment_details.reason}}</p>
      </div>
      <div class="table__cell punishment__table-small">
        <span style="color: red" *ngIf="punishment.punishment_details.type === 'temp-ban'">Temp-ban</span>
        <span style="color: red" *ngIf="punishment.punishment_details.type === 'ban'">Perma-ban</span>
        <span style="color: darkorange" *ngIf="punishment.punishment_details.type === 'kick'">Expulsión</span>
        <span style="color: green" *ngIf="punishment.punishment_details.type === 'warn'">Advertencia</span>
      </div>
      <div class="table__cell punishment__table-small">
        <p *ngIf="punishment.punishment_details.expires && punishment.punishment_details.expires !== 'never'">{{punishment.punishment_details.created_at | valueOf | amLocale: 'es' | amTimeAgo | titlecase}}</p>
        <p *ngIf="!punishment.punishment_details.expires || punishment.punishment_details.expires == 'never'">Nunca</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>{{punishment.punishment_details.created_at | valueOf | amLocale: 'es' | amTimeAgo | titlecase}}</p>
      </div>
    </div>
  </div>
  <p *ngIf="!punishments" class="u-center-text u-margin-top-small paragraph--white">¿La división staff no trabaja?, ¿O no hay sanciones aún?, si es la segunda, estamos orgullosos ♥</p>
  <pagination [actual_page]="page" [last_page]="pages" route="{{'/sanciones/'}}" [centered]="true"></pagination>
</section>
