<section>
  <h1 class="heading u-margin-bottom-small">Política de privacidad</h1>
  <p class="paragraph u-margin-bottom-small">
    Seocraft Network recolecta y almacena información de los usuarios en diferentes maneras:
  </p>
  <ul class="paragraph u-margin-bottom-small">
    <li>Cuando tu <a routerLink="/registro">registras</a> tu cuenta de Minecraft con nuestro sitio web, requerimos tu correo electrónico para propositos de verificación y contacto. Almacenaremos tu correo electrónico en nuestra base de datos segura, siendo visible solo para nuestras
      <a routerLink="/staff">Chiefs y Desarrolladores</a>.
    </li>
    <li>
      En la <a routerLink="/cuenta">página de tu cuenta</a>, puedes ingresar varios detalles sobre tí para mostrarlos en tu perfil público. Introducir esta información es completamente opcional.
    </li>
    <li>
      Muchos eventos de juego se registran y se utilizan para generar estadísticas y clasificaciones, que son visibles públicamente en nuestro sitio web.
    </li>
    <li>
      Todo el texto enviado a través del chat del juego o la mensajería privada en nuestros servidores se guarda de forma indefinida. Solo los
      <a routerLink="/staff">Chiefs y desarrolladores</a> tienen acceso a estos registros, que utilizamos para investigar informes de acoso y otras infracciones de las normas.
    </li>
    <li>
      La dirección IP que utiliza para conectarse a nuestro sitio web o servidores de juegos se almacena de forma segura en nuestra base de datos. Solo los miembros de la
      <a routerLink="/staff">División Staff, Chiefs y Desarrolladores</a> tienen acceso a los registros de direcciones IP. A veces se usan para encontrar cuentas alternativas de jugadores baneados.
    </li>
    <li>
      Cuando realiza una compra en nuestra tienda, su información de pago se envía directamente a <a href="https://www.paymentwall.com/">PaymentWall</a>, nuestro procesador de pagos. No almacenamos información de pago en nuestros propios servidores. Las donaciones se realizan directamente por PayPal, nosotros solo redireccionamos a su plataforma de pago.
    </li>
    <li>
      Todos los reportes y apelaciones creados a través de nuestro sitio web son visibles para todos los miembros de la
      <a routerLink="/staff">División Staff, Desarrolladores y Chiefs</a>. La evidencia provista en los reportes también se puede revelar al jugador que fué reportado para que pueda defenderse.
    </li>
  </ul>
  <p class="paragraph u-margin-bottom-small">
    Previa solicitud por escrito a contacto@seocraft.net, y después de ciertos pasos de verificación, Seocraft Network puede:
  </p>
  <ul class="paragraph u-margin-bottom-small">
    <li>
      Suspenda su cuenta para ocultar tu información de <a routerLink="/cuenta">perfil público</a>, publicaciones en foros, sanciones y estadísticas para que no sean visibles públicamente en nuestro sitio web.
    </li>
    <li>
      Elimina permanentemente tu dirección de correo electrónico, información de <a routerLink="/cuenta">perfil público</a> y publicaciones en foros de nuestro servicio, cancelando completamente tu cuenta.
    </li>
    <li>
      Proporcionarte tu correo electrónico de registro y tu historial de chat reciente en el juego. Tus amistades, estadísticas e información de
      <a routerLink="/cuenta">perfil público</a>, que se pueden ver en cualquier momento en tu perfil.
    </li>
    <li>
      Puedes actualizar y/o eliminar tu información de <a routerLink="/cuenta">perfil público y publicaciones en foros</a> en cualquier momento sin necesidad de cancelar la cuenta.
    </li>
    <li>
      En interés de la privacidad, los registros de IP y sesión no se divulgarán al usuario que lo solicite y no se pueden eliminar del servicio, ya que se utilizan continuamente para encontrar cuentas alternativas de jugadores baneados.
    </li>
    <li>
      Las estadísticas y las sanciones pueden ocultarse suspendiendo su cuenta, pero no se eliminarán del servicio, ya que sirven como un registro permanente de interacciones entre múltiples usuarios.
    </li>
  </ul>
  <p class="paragraph">
    En general, Seocraft Network recopila información del usuario solo con el fin de mejorar nuestros servicios. La información confidencial solo es visible para nuestro propio personal y solo para el personal que la necesita para hacer su trabajo.
  </p>
</section>
