<section>
  <div>
    <h1 class="heading map__main-title">Mapas</h1>
    <h4 class="heading heading--primary map__main-title">Una gran colección de mapas y variedades únicas</h4>
  </div>
  <div class="map__navigator">
    <span class="map__navigator-slug">
      Seleccionar mapas:
    </span>
    <div class="dropdown map__navigator-dropdown map__navigator-dropdown--1">
        <span class="dropdown__label dropdown map__navigator-dropdown-label" navbar-dropdown>
            {{mapMain.selected ? mapMain.selected.name : 'Elegir juegos'}}
        </span>
      <div class="dropdown__content">
        <a (click)="selectGamemode(null)" class="dropdown__link map__navigator-dropdown-link">Todos los mapas</a>
        <a *ngFor="let game of mapMain.gamemodes" (click)="selectGamemode(game)"  class="dropdown__link map__navigator-dropdown-link">{{game.name}}</a>
      </div>
    </div>
    <!--
    <div class="dropdown map__navigator-dropdown map__navigator-dropdown--2">
        <span class="dropdown__label dropdown map__navigator-dropdown-label" navbar-dropdown>
          Calificación
        </span>
      <div class="dropdown__content">
        <a href="#" class="dropdown__link map__navigator-dropdown-link">1 estrella</a>
        <a href="#" class="dropdown__link map__navigator-dropdown-link">2 estrellas</a>
        <a href="#" class="dropdown__link map__navigator-dropdown-link">3 estrellas</a>
        <a href="#" class="dropdown__link map__navigator-dropdown-link">4 estrellas</a>
        <a href="#" class="dropdown__link map__navigator-dropdown-link">5 estrellas</a>
      </div>
    </div>
    -->
  </div>
  <div *ngFor="let map of mapMain.maps.data" class="map map--profile">
    <a routerLink="{{'/mapas/' + map._id}}">
      <img src="{{url + 'map/get-image/' + map._id}}" class="map__image">
    </a>
    <a routerLink="{{'/mapas/' + map._id}}" class="map__title">
      {{map.name}}
    </a>
    <p class="map__author">
      por <a routerLink="{{'/' + map.author.username}}">{{map.author.display}}</a>
    </p>
    <!--
    <div class="map__stars">
      <fa-icon class="map__star map__star--active" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      <fa-icon class="map__star" [icon]="faStar"></fa-icon>
    </div>
    -->
  </div>
  <p *ngIf="!showSpinner && mapMain.maps.data.length === 0" class="u-center-text paragraph--white">No hay mapas actualmente</p>
  <spinner [active]="showSpinner" loading="Buscando mapas... <br> Obras divinas de gente divina ;)"></spinner>
  <pagination
    *ngIf="!showSpinner"
    [actual_page]="mapMain.maps.pagination.page"
    [last_page]="mapMain.maps.pagination.totalPages"
    [eventOriented]="true"
    (onNavigate)="updateQuery($event)"
    [centered]="true"
  ></pagination>
</section>
