<section>
  <div class="row">
    <div class="col-1-of-2">
      <h1 class="heading heading--primary profile__name">{{userProfile.user.display}}</h1>
    </div>

    <!--
    <div class="col-1-of-2 u-right-text" *ngIf="!logged_details.own_profile && logged_details.logged">
      <a href="#" *ngIf="!logged_details.are_friends" class="btn btn--green btn--uppercase btn--strong profile__button"><fa-icon [icon]="faUserPlus"></fa-icon> Añadir amigo</a>
      <a href="#" *ngIf="logged_details.are_riends" class="btn btn--red btn--uppercase btn--strong profile__button"><fa-icon [icon]="faUserTimes"></fa-icon> Eliminar amigo</a>
      <div class="profile__dropdown" *ngIf="logged_details.can_punish">
        <div class="profile__dropdown-label">
          <span class="btn btn--blue btn--uppercase btn--strong profile__button"><fa-icon [icon]="faUserTie"></fa-icon></span>
        </div>
        <div class="profile__dropdown-content">
          <a href="#" class="profile__dropdown-link" *ngIf="logged_details.can_punish"><fa-icon [icon]="faGavel"></fa-icon> Sancionar</a>
        </div>
      </div>
    </div>
    -->

</div>
<div class="profile__content">
  <div class="profile__content--left">
    <div class="profile__content-section">
      <div class="profile__content-indicator">
        <img src="{{'https://mc-heads.net/avatar/' + userProfile.user.skin}}" alt="{{userProfile.user.username}}" class="profile__avatar" [class.profile__avatar--online]="userProfile.user.session.lastSeen === 0">
      </div>
      <div class="profile__content-info">
        <div class="profile__header">
          <h3 class="profile__head">
            <span *ngIf="userProfile.user.session.lastSeen !== 0">Última vez: {{userProfile.user.session.lastSeen | valueOf | amLocale: 'es' | amTimeAgo}}</span>
            <span *ngIf="userProfile.user.session.lastSeen === 0" class="profile__head--online">Conectado ahora mismo</span>
            <span class="profile__head--tag" *ngIf="userProfile.user.settings.general.status">en {{userProfile.user.session.lastGame}}</span>
          </h3>
          <h3 class="profile__head">Nível en el juego: <span class="profile__head--tag">{{userProfile.user.level}}</span></h3>
          <div class="profile__badges" *ngIf="userProfile.user.groups && userProfile.user.groups.length >= 1">
              <span *ngFor="let group of userProfile.user.groups">
                <a *ngIf="group.group.badge_color && group.group.badge_link" [href]="group.group.badge_link" [style.background]="group.group.badge_color" class="profile__badge">{{group.group.name}}</a>
              </span>
          </div>
        </div>
      </div>
    </div>
    <div class="profile__content-section">
      <div class="profile__content-indicator">
          <span class="profile__number">
            {{userProfile.friends.friends.length}}
          </span>
      </div>
      <div class="profile__content-info">
        <div class="profile__friends-title">
          <h3 class="profile__head">Amigo(s) en el servidor. <span>({{userProfile.friends.commons}}) en común</span></h3>
        </div>
        <div class="profile__friends">
          <a *ngFor="let friend of userProfile.friends.friends"
             routerLink="{{'/' + (friend.sender._id === userProfile.user._id ? friend.receiver.username : friend.sender.username)}}"
             class="tooltip"
          >
            <img
              src="{{'https://mc-heads.net/avatar/' + (friend.sender._id === userProfile.user._id ? friend.receiver.skin : friend.sender.skin)}}"
              [alt]="(friend.sender._id === userProfile.user._id ? friend.receiver.username : friend.sender.username)"
              class="profile__friend"
              tooltip [content]="(friend.sender._id === userProfile.user._id ? friend.receiver.display : friend.sender.display)" placement="top">
          </a>
        </div>
      </div>
    </div>
    <div class="profile__content-section">
      <div class="profile__content-indicator">
          <span class="profile__number">
            {{userProfile.lastMatches.wonMatches}}
          </span>
      </div>
      <div class="profile__content-info">
        <div class="profile__single-info">
          <h3 class="profile__head">Partidas ganadas</h3>
          <p class="paragraph">De {{userProfile.lastMatches.playedMatches}} partidas jugadas desde que ingresó al servidor.</p>
        </div>
      </div>
    </div>
    <div class="profile__content-section">
      <div class="profile__content-indicator">
          <span class="profile__number">
            0
          </span>
      </div>
      <div class="profile__content-info">
        <div class="profile__single-info">
          <h3 class="profile__head">Puntos de logro</h3>
          <p class="paragraph">Obtenidos a lo largo de su historia.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="profile__content--right" scrollbar>
    <a *ngFor="let match of userProfile.lastMatches.lastMatches" routerLink="{{'/partida/' + match._id}}" class="profile__match">
      <img src="{{'../../../../assets/images/games/' + match.gamemode._id + '.png'}}" [alt]="match.gamemode.name" class="profile__match-icon">
      <span class="profile__match-game">{{match.gamemode.name}}</span>
      <span *ngIf="match.winner.includes(userProfile.user._id) && (match.status === MatchStatusEnum.finished || match.status === MatchStatusEnum.forced)" class="profile__match-status profile__match-status--win">Victoria</span>
      <span *ngIf="!match.winner.includes(userProfile.user._id) && (match.status === MatchStatusEnum.finished || match.status === MatchStatusEnum.forced)" class="profile__match-status profile__match-status--lose">Derrota</span>
      <span *ngIf="match.status === MatchStatusEnum.ingame || match.status === MatchStatusEnum.starting" class="profile__match-status profile__match-status--alert">En juego</span>
      <span *ngIf="match.status === MatchStatusEnum.waiting" class="profile__match-status profile__match-status--alert">Esperando</span>
      <span *ngIf="match.status === MatchStatusEnum.invalidated" class="profile__match-status profile__match-status--alert">Invalidada</span>
    </a>
  </div>
</div>
<div class="profile__sections">
  <div class="profile__menu">
    <button class="tab__link tab__link--horizontal tab__link--active profile__section-selector" tab tab_id="profile">Perfil</button>
    <button *ngIf="userProfile.maps && userProfile.maps.length >= 1" class="tab__link tab__link--horizontal profile__section-selector" tab tab_id="maps">Mapas</button>
    <button class="tab__link tab__link--horizontal profile__section-selector" tab tab_id="achievements">Logros</button>
    <button class="tab__link tab__link--horizontal profile__section-selector" tab tab_id="stats">Estadísticas</button>
    <button class="tab__link tab__link--horizontal profile__section-selector" tab tab_id="punishments">Infracciones</button>
  </div>
  <div id="profile" class="tab tab--active profile__tab">
    <h1 class="heading">Perfil</h1>
    <div class="row profile__social-row">
      <div class="col-1-of-4" *ngIf="userProfile.user.publicInfo.twitter">
        <span class="profile__social-title">Twitter</span>
        <div class="profile__social-link"><a href="{{'https://www.twitter.com/' + userProfile.user.publicInfo.twitter}}">{{userProfile.user.publicInfo.twitter}}</a></div>
      </div>
      <div class="col-1-of-4" *ngIf="userProfile.user.publicInfo.reddit">
        <span class="profile__social-title">Reddit</span>
        <div class="profile__social-link"><a href="{{'https://www.reddit.com/' + userProfile.user.publicInfo.reddit}}">{{userProfile.user.publicInfo.reddit}}</a></div>
      </div>
      <div class="col-1-of-4" *ngIf="userProfile.user.publicInfo.steam">
        <span class="profile__social-title">Steam</span>
        <div class="profile__social-link"><a href="{{'https://steamcommunity.com/id/' + userProfile.user.publicInfo.steam}}">{{userProfile.user.publicInfo.steam}}</a></div>
      </div>
      <div class="col-1-of-4">
        <span class="profile__social-title" *ngIf="userProfile.user.publicInfo.twitch">Twitch</span>
        <div class="profile__social-link"><a href="{{'https://twitch.tv/' + userProfile.user.publicInfo.twitch}}">{{userProfile.user.publicInfo.twitch}}</a></div>
      </div>
    </div>
    <div class="row profile__social-row">
      <div class="col-1-of-2">
        <span class="profile__social-title">Email público</span>
        <div class="profile__social-field">
          <p class="paragraph paragraph--white" *ngIf="userProfile.user.publicInfo.email">{{userProfile.user.publicInfo.email}}</p>
          <p class="paragraph paragraph--white" *ngIf="!userProfile.user.publicInfo.email">No hay información.</p>
        </div>
      </div>
      <div class="col-1-of-2">
        <span class="profile__social-title">Ocupación</span>
        <div class="profile__social-field">
          <p class="paragraph paragraph--white" *ngIf="userProfile.user.publicInfo.occupation">{{userProfile.user.publicInfo.occupation}}</p>
          <p class="paragraph paragraph--white" *ngIf="!userProfile.user.publicInfo.occupation">No hay información.</p>
        </div>
      </div>
    </div>
    <div class="row profile__social-row">
      <div class="col-1-of-2">
        <span class="profile__social-title">Ubicación</span>
        <div class="profile__social-field">
          <p class="paragraph paragraph--white" *ngIf="userProfile.user.publicInfo.location">{{userProfile.user.publicInfo.location}}</p>
          <p class="paragraph paragraph--white" *ngIf="!userProfile.user.publicInfo.location">No hay información.</p>
        </div>
      </div>
      <div class="col-1-of-2">
        <span class="profile__social-title">Interéses</span>
        <div class="profile__social-field">
          <p class="paragraph paragraph--white" *ngIf="userProfile.user.publicInfo.interests">{{userProfile.user.publicInfo.interests}}</p>
          <p class="paragraph paragraph--white" *ngIf="!userProfile.user.publicInfo.interests">No hay información.</p>
        </div>
      </div>
    </div>
    <span class="profile__social-title">Acerca de mí</span>
    <div class="profile__social-field paragraph paragraph--white" *ngIf="!userProfile.user.publicInfo.about">
      {{userProfile.user.display}} no ha escrito nada aún.
    </div>
    <div class="profile__social-field paragraph--white" [innerHTML]="userProfile.user.publicInfo.about | noSanitize" *ngIf="userProfile.user.publicInfo.about"></div>
  </div>
  <div *ngIf="userProfile.maps && userProfile.maps.length >= 1" id="maps" class="tab profile__tab">
    <h2 class="heading">Mapas</h2>
    <div *ngFor="let map of userProfile.maps" class="map map--profile">
      <a routerLink="{{'/mapas/' + map._id}}">
        <img src="{{url + 'map/get-image/' + map.image}}" class="map__image" alt="{{map.name}}">
      </a>
      <a routerLink="{{'/mapas/' + map._id}}" class="map__title">
        {{map.name}}
      </a>
      <p class="map__author">
        por <a routerLink="{{'/' + userProfile.user.username}}">{{userProfile.user.display}}</a>
      </p>


      <!--
      <div class="map__stars">
        <fa-icon class="map__star map__star--active" [icon]="faStar"></fa-icon>
        <fa-icon class="map__star" [icon]="faStar"></fa-icon>
        <fa-icon class="map__star" [icon]="faStar"></fa-icon>
        <fa-icon class="map__star" [icon]="faStar"></fa-icon>
        <fa-icon class="map__star" [icon]="faStar"></fa-icon>
      </div>
      -->


    </div>
  </div>
  <div id="achievements" class="tab profile__tab">
    <h2 class="heading">Logros</h2>
  </div>
  <div id="stats" class="tab profile__tab">
    <h2 class="heading">Estadísticas</h2>

  </div>
  <div id="punishments" class="tab profile__tab">
    <h2 class="heading u-margin-bottom-small">Infracciones</h2>
    <p *ngIf="userProfile.punishments.length === 0" class="paragraph paragraph--white u-center-text">¡Este usuario es un ejemplo a seguir! (No tiene infracciones)</p>
    <div *ngIf="userProfile.punishments.length > 0" class="table">
      <div class="table__header">
        <div class="table__cell">
          <p>Hecha por</p>
        </div>
        <div class="table__cell">
          <p>Sancionado</p>
        </div>
        <div class="table__cell">
          <p>Razón</p>
        </div>
        <div class="table__cell">
          <p>Tipo</p>
        </div>
        <div class="table__cell">
          <p>Estado</p>
        </div>
        <div class="table__cell">
          <p>Fecha</p>
        </div>
      </div>
      <div class="table__row punishment__row table--fixed" *ngFor="let punishment of userProfile.punishments">
        <div class="table__cell punishment__profile-others">
          <a [style.color]="getPlaceholder(punishment.issuer).mainGroup.html_color"></a>
        </div>
        <div class="table__cell punishment__profile-others">
          <a  [style.color]="getPlaceholder(punishment.punished).mainGroup.html_color"></a>
        </div>
        <div class="table__cell punishment__profile-reason">
          <span>{{punishment.reason}}</span>
        </div>
        <div class="table__cell punishment__profile-others">
          <span *ngIf="punishment.type == 'warn'" style="color: green">{{punishment.type | titlecase}}</span>
          <span *ngIf="punishment.type =='kick'" style="color: orange">{{punishment.type | titlecase}}</span>
          <span *ngIf="punishment.type == 'ban'" style="color: red">{{punishment.type | titlecase}}</span>
        </div>
        <div class="table__cell punishment__profile-others">
          <span *ngIf="punishment.active && !punishment.automatic && !punishment.appealed">Activo</span>
          <span *ngIf="punishment.active && punishment.automatic" style="color: orange">Automatico</span>
          <span *ngIf="punishment.active && punishment.appealed" style="color: dodgerblue">En disputa</span>
          <span *ngIf="!punishment.active" style="color: green">Inactivo/Apelado</span>
        </div>
        <div class="table__cell">
          <a routerLink="{{ '/sancion/' + punishment._id}}">{{punishment.createdAt | unixDate | valueOf | amLocale: 'es' | amTimeAgo}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
