<section>
  <div class="row">
    <div class="col-1-of-2">
      <h1 class="heading u-margin-bottom-small">Apelando infracción <span class="appeal__id-small">(ID: {{appeal._id}})</span></h1>
    </div>
    <div class="col-1-of-2 u-right-text">
      <a *ngIf="permissions.escalate && !appeal.locked && !appeal.escalated" class="btn btn--primary shop__description-slug-button shop__cart-button" popup popup_id="appeal-popup" (click)="createAction('escalate')"><fa-icon [icon]="faUserTie"></fa-icon> Escalar</a>
      <a *ngIf="permissions.appeal && (punishment.active && !appeal.locked)" (click)="createAction('appeal')" popup popup_id="appeal-popup" class="btn btn--secondary shop__description-slug-button shop__cart-button"><fa-icon [icon]="faGavel"></fa-icon> Apelar</a>
      <a *ngIf="permissions.appeal && (!punishment.active && !appeal.locked)" (click)="createAction('un-appeal')" popup popup_id="appeal-popup" class="btn btn--secondary shop__description-slug-button shop__cart-button"><fa-icon [icon]="faGavel"></fa-icon> Retractar</a>
      <a *ngIf="permissions.lock && !appeal.locked" class="btn btn--red shop__description-slug-button shop__cart-button" (click)="lockAppeal()"><fa-icon [icon]="faLock"></fa-icon> Bloquear</a>
      <a *ngIf="permissions.lock && appeal.locked" class="btn btn--green shop__description-slug-button shop__cart-button" (click)="lockAppeal()"><fa-icon [icon]="faUnlock"></fa-icon> Desbloquear</a>
      <a *ngIf="permissions.close && (!appeal.closed && !appeal.locked)" class="btn btn--red shop__description-slug-button shop__cart-button" popup popup_id="appeal-popup" (click)="createAction('close')"><fa-icon [icon]="faTimes"></fa-icon> Cerrar</a>
      <a *ngIf="permissions.close && (appeal.closed && !appeal.locked)" class="btn btn--green shop__description-slug-button shop__cart-button" popup popup_id="appeal-popup" (click)="createAction('open')"><fa-icon [icon]="faMarker"></fa-icon> Abrir</a>
    </div>
  </div>
  <div class="table--black table--fixed">
    <div class="table__header">
      <div class="table__cell punishment__table-small">
        <p>Hecha por</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Usuario</p>
      </div>
      <div class="table__cell punishment__table-large">
        <p>Razón</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Tipo</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Estado</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>Fecha</p>
      </div>
    </div>
    <div class="table__row">
      <div class="table__cell punishment__table-small">
        <a routerLink="{{'/' + punishment.punisher_placeholder.username}}" [style.color]="punishment.punisher_placeholder.user_color">{{punishment.punisher_placeholder.username}}</a>
      </div>
      <div class="table__cell punishment__table-small">
        <a routerLink="{{'/' + punishment.punished_placeholder.username}}" [style.color]="punishment.punished_placeholder.user_color">{{punishment.punished_placeholder.username}}</a>
      </div>
      <div class="table__cell punishment__table-large">
        <p>{{punishment.reason}}</p>
      </div>
      <div class="table__cell punishment__table-small">
        <span style="color: red" *ngIf="punishment.type === 'temp-ban'">Temp-ban</span>
        <span style="color: red" *ngIf="punishment.type === 'ban'">Perma-ban</span>
        <span style="color: darkorange" *ngIf="punishment.type === 'kick'">Expulsión</span>
        <span style="color: green" *ngIf="punishment.type === 'warn'">Advertencia</span>
      </div>
      <div class="table__cell punishment__table-small">
        <p *ngIf="punishment.expires && punishment.expires !== 'never'">{{punishment.created_at | valueOf | amLocale: 'es' | amTimeAgo | titlecase}}</p>
        <p *ngIf="!punishment.expires || punishment.expires == 'never'">Nunca</p>
      </div>
      <div class="table__cell punishment__table-small">
        <p>{{punishment.created_at | valueOf | amLocale: 'es' | amTimeAgo | titlecase}}</p>
      </div>
    </div>
  </div>
  <p class="appeal__explanation">
    <span>Explicación del usuario:</span> {{action_create.content}}
  </p>
  <div class="appeal">
    <div class="appeal__action">
      <div class="appeal__action--left">
        <img src="{{'https://minotar.net/avatar/' + action_create.user.skin}}" alt="{{action_create.user.username}}">
        <p class="appeal__action-info">
          <a [style.color]="action_create.user.user_color" href="{{'/' + action_create.user.username}}">{{action_create.user.username}} </a> creó la apelación
        </p>
      </div>
      <div class="appeal__action--right">
        <span class="appeal__date">{{action_create.created_at | valueOf | amLocale: 'es' | amTimeAgo | titlecase}}</span>
      </div>
    </div>
    <div *ngFor="let action of actions; let i = index;">
      <div *ngIf="!action.content && i !== 0" class="appeal__action">
        <div class="appeal__action--left">
          <img src="{{'https://minotar.net/avatar/' + action.user.skin}}" alt="{{action.user.username}}">
          <p class="appeal__action-info">
            <a [style.color]="action.user.user_color" href="{{'/' + action.user.username}}">{{action.user.username}} </a>
            <span *ngIf="action.type === 'open'">abrió la apelación</span>
            <span *ngIf="action.type === 'close'">cerró la apelación</span>
            <span *ngIf="action.type === 'lock'">bloqueó la apelación</span>
            <span *ngIf="action.type === 'unlock'">desbloqueó la apelación</span>
            <span *ngIf="action.type === 'comment'">comentó la apelación</span>
            <span *ngIf="action.type === 'escalate'">escaló la apleación</span>
            <span *ngIf="action.type === 'appeal'">aceptó la apelación</span>
            <span *ngIf="action.type === 'un-appeal'">retractó la apelación</span>
            <span *ngIf="action.type === 'assign-escalate'">tomó la apelación</span>
          </p>
        </div>
        <div class="appeal__action--right">
          <span class="appeal__date">{{action.created_at | valueOf | amLocale: 'es' | amTimeAgo | titlecase}}</span>
        </div>
      </div>
      <div *ngIf="action.content && i !== 0" class="appeal__comment">
        <div class="appeal__comment-image">
          <img src="{{'https://minotar.net/avatar/' + action.user.skin}}" alt="{{action.user.username}}" class="appeal__comment-image">
        </div>
        <div class="appeal__comment-action">
          <div class="u-margin-bottom__small">
            <div class="appeal__action--left">
              <p class="appeal__action-info">
                <a [style.color]="action.user.user_color" href="{{'/' + action.user.username}}">{{action.user.username}} </a>
                <span *ngIf="action.type === 'open'">abrió la apelación</span>
                <span *ngIf="action.type === 'close'">cerró la apelación</span>
                <span *ngIf="action.type === 'lock'">bloqueó la apelación</span>
                <span *ngIf="action.type === 'unlock'">desbloqueó la apelación</span>
                <span *ngIf="action.type === 'comment'">comentó la apelación</span>
                <span *ngIf="action.type === 'escalate'">escaló la apleación</span>
                <span *ngIf="action.type === 'appeal'">aceptó la apelación</span>
                <span *ngIf="action.type === 'un-appeal'">retractó la apelación</span>
                <span *ngIf="action.type === 'assign-escalate'">tomó la apelación</span>
              </p>
            </div>
            <div class="appeal__action--right">
              <span class="appeal__date">{{action.created_at | valueOf | amLocale: 'es' | amTimeAgo | titlecase}}</span>
            </div>
          </div>
          <p class="appeal__comment-text" [class.appeal__comment-text--assigned]="action.user.id === appeal.escalated_assigned">{{action.content}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="u-right-text">
    <a *ngIf="!appeal.closed && !appeal.locked" class="btn btn--primary" popup popup_id="appeal-popup" (click)="createAction('comment')"><fa-icon [icon]="faComment" class="btn__icon--left"></fa-icon> Escribir comentario</a>
  </div>
</section>
<section class="appeal-popup" id="appeal-popup">
  <form #appeal_request="ngForm" (ngSubmit)="submitAction()" class="appeal-popup__content">
    <h2 class="heading heading--primary">
      <span *ngIf="new_action === 'open' || new_action === 'close'">Abrir/Crear</span>
      <span *ngIf="new_action === 'comment'">Comentar</span>
      <span *ngIf="new_action === 'escalate'">Escalar</span>
      <span *ngIf="new_action === 'appeal' || new_action === 'un-appeal'">Aceptar/Retractar</span>
       apelación
    </h2>
    <p *ngIf="new_action === 'open' || new_action === 'close' || new_action === 'appeal' || new_action === 'un-appeal'" class="paragraph paragraph--white">El comentario en esta acción es opcional.</p>
    <a popup popup_id="appeal-popup" #appeal_close class="appeal-popup__close" (click)="actionReset()"><fa-icon [icon]="faTimes"></fa-icon></a>
    <div class="appeal__form">
      <textarea id="new_comment" name="new_comment" #comment="ngModel" [(ngModel)]="new_comment" cols="30" rows="10" class="form__textarea" placeholder="Recuerda ser lo más explícito posible, nos ayudarás mucho."></textarea>
    </div>
    <div class="u-right-text">
      <button [disabled]="!new_comment && (new_action === 'comment' || new_action === 'escalate')" class="btn btn--primary"><fa-icon class="btn__icon--left" [icon]="faList"></fa-icon>Actualizar apelación</button>
    </div>
  </form>
</section>
