<div class="forum__recent" scrollbar>
  <div class="forum__recent-title">
    <span class="forum__recent-title-text">
      Temas recientes
    </span>
  </div>
  <div *ngIf="!topics || (topics && topics.length <= 0)" class="u-center-text u-margin-top-small paragraph--white">No hay temas recientes.</div>
  <div *ngFor="let topic of topics" class="forum__recent-node">
    <img src="{{'https://mc-heads.net/avatar/' + topic.author.skin}}" alt="{{topic.author.username}}" class="forum__recent-avatar">
    <div class="forum__recent-container">
      <a routerLink="{{'/foro/tema/' + topic._id}}" class="forum__recent-topic">{{topic.subject}}</a>
      <p class="forum__recent-username-placeholder">
        <a [style.color]="getPlaceholder(topic.author).mainGroup._id" routerLink="{{'/' + topic.author.username}}" class="forum__recent-username">{{topic.author.display}}</a>
        <span class="forum__recent-date" tooltip content="Creado en {{topic.createdAt | unixDate | valueOf | amLocale: 'es' | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}" placement="bottom">{{topic.createdAt | unixDate | valueOf | amLocale: 'es' | amTimeAgo}}</span>
      </p>
    </div>
  </div>
</div>
